<div class="contact-us">
    <a class="contact-link" href="/contact">Let's Talk</a>
</div>

<div class="newsletter">
  <p>
    <a href="http://visitor.r20.constantcontact.com/manage/optin/ea?v=001nxNUBQroFr26-H-ECAwD8pmvSYh8P1LCZNXEOEwN0onqjNisPk-uCnU-ZXGKJe2QHb8cUJGLi2E%3D" target="_blank" rel="noopener">Sign Up for Our Newsletter</a>
  </p>
</div>

<div class="footer">
    <h3>Creativity with Substance = Results</h3>
    <p>
        © Insight Creative, Inc. All rights reserved.
    </p>
</div>
