<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/velocity.min.js"></script>
<script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>

<!-- Main javascript file -->
<script src="/js/app.js"></script>
<script src="/js/pace.min.js"></script>
<script src="/js/aos.js"></script>
<script>
    AOS.init({
      duration: 1000,
      easing: 'ease-out-quint',
      delay: 0,
      once: true,
    });
</script>


<!-- API key for pulling google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6fA5MeR0s80KDiiUgSTAGBTS23Jgv-As"></script>

<!-- Wistia video stream embed -->
<script charset='ISO-8859-1' src='https://fast.wistia.com/assets/external/E-v1.js'></script>
<script charset='ISO-8859-1' src='https://fast.wistia.com/labs/crop-fill/plugin.js'></script>
