<script src="/js/jquery-3.1.1.min.js"></script>

<!-- Script for fixing object-fit in IE and Edge browsers -->
<script src="/js/ofi.min.js"></script>

<!-- Animation replacement for animate() -->
<script src="/js/velocity.min.js"></script>

<!-- Work filter javascript -->
<script src="https://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>

<!-- Main javascript file -->
<script src="/js/app.js"></script>

<!-- Loading bar -->
<script src="/js/pace.min.js"></script>

<!-- Scrolling animations -->
<script src="/js/aos.js"></script>
<script>
    AOS.init({
      duration: 1000,
      easing: 'ease-out-quint',
      delay: 0,
      once: true,
    });
</script>

<!-- API key for pulling google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6fA5MeR0s80KDiiUgSTAGBTS23Jgv-As"></script>

<!-- Wistia video stream embed -->
<script src="/js/wistia.js"></script>
