<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/history.js/1.8/bundled/html4+html5/jquery.history.js"></script>
<script src="js/ajax.js"></script>
-->



<!-- pushState ajax script
<script src="js/push.js"></script>-->
<script src="/js/ajax.js"></script>

<!-- Navigation mobile and scroll animations -->
<script src="/js/hide-navigation.js"></script>

<!-- Animate employee bio images start -->
<script src="/js/employees.js"></script>
<!-- Rotates through images on hover -->
<script>
  $('.images-rotation').imagesRotation();
</script>
<!-- End animate employee bio imags -->

<!-- Navigation mobile and scroll animations -->
<script src="/js/culture-header.js"></script>

<!-- Wistia Jumbotron Video -->
<script charset='ISO-8859-1' src='https://fast.wistia.com/assets/external/E-v1.js'></script>
<script charset='ISO-8859-1' src='https://fast.wistia.com/labs/crop-fill/plugin.js'></script>
<script src="/js/video.js"></script>

<!-- Animate accordion -->
<script src="/js/accordion.js"></script>

<!-- Animated type on Contact page -->
<script src="/js/typed.js"></script>
<script>
    $(function(){
        $(".typed").typed({
            stringsElement: $('.typed-strings'),
            typeSpeed: 10,
            // time before backspacing
            backDelay: 2000,
            // loop
            loop: true
        });
    });
</script>

<!-- Google map on Contact page -->
<script src="/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6fA5MeR0s80KDiiUgSTAGBTS23Jgv-As"></script>
