<header class="cd-auto-hide-header">
    <div class="logo">
        <a href="/" class="page-link" title="home"><img src="/img/logo.svg" alt="logo" /></a>
    </div>


    <nav class="cd-primary-nav">
        <div href="#cd-navigation" class="nav-trigger">
            <span class="cd-nav-icon"></span>

            <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
    <circle fill="transparent" stroke="#fff" stroke-width="2" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
  </svg>
</div>
        <div class="cd-navigation-wrapper">
            <ul id="cd-navigation">
                <li><a href="/work" class="page-link" title="work">Work</a></li>
                <li><a href="/services" class="page-link" title="services">Services</a></li>
                <li><a href="/agency" class="page-link" title="agency">Agency</a></li>
                <li><a href="/culture" class="page-link" title="culture">Culture</a></li>
                <li><a href="/blog" class="page-link" title="blog">Blog</a></li>
                <li><a href="/contact" class="page-link" title="contact">Contact</a></li>
            </ul>
          </div>
    </nav>
</header>
