<header class="cd-auto-hide-header">
    <div class="logo">
        <a href="/" title="Home"><img src="/img/logo.svg" alt="logo" /></a>
    </div>


    <nav class="cd-primary-nav">
        <div href="#cd-navigation" class="nav-trigger">
            <span class="cd-nav-icon"></span>

            <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
    <circle fill="transparent" stroke="#fff" stroke-width="2" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
  </svg>
</div>
        <div class="cd-navigation-wrapper">
            <ul id="cd-navigation">
                <li><a href="/work" title="Work">Work</a></li>
                <li><a href="/services" title="Services">Services</a></li>
                <li><a href="/agency" title="Agency">Agency</a></li>
                <li><a href="/culture" title="Culture">Culture</a></li>
                <li><a href="/blog" title="Blog">Blog</a></li>
                <li><a href="#" title="Contact">Contact</a></li>
            </ul>
          </div>
    </nav>
</header>
