<div class="social" data-aos="fade-up" data-aos-delay="1600">
  <ul>
    <li>
      <a href="https://www.facebook.com/insightcreativeinc" target="_blank"><span class="socicon socicon-facebook"></span></a>
    </li>
    <li>
      <a href="https://twitter.com/insightwi" target="_blank"><span class="socicon socicon-twitter"></span></a>
    </li>
    <li>
      <a href="https://www.instagram.com/insightwi/" target="_blank"><span class="socicon socicon-instagram"></span></a>
    </li>
    <li>
      <a href="https://www.pinterest.com/insightinc/" target="_blank"><span class="socicon socicon-pinterest"></span></a>
    </li>
    <li>
      <a href="https://www.youtube.com/user/InsightCreativeWI/" target="_blank"><span class="socicon socicon-youtube"></span></a>
    </li>
  </ul>
</div>
