<div class="social" data-aos="fade-up" data-aos-delay="1600">
  <ul>
    <li>
      <a href="https://www.facebook.com/insightcreativeinc" target="_blank" rel="noopener"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="https://twitter.com/insightwi" target="_blank" rel="noopener"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="https://www.instagram.com/insightwi/" target="_blank" rel="noopener"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="https://www.pinterest.com/insightinc/" target="_blank" rel="noopener"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="https://www.youtube.com/user/InsightCreativeWI/" target="_blank" rel="noopener"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    </li>
  </ul>
</div>
