---
layout: default
title: Culture
---

<div class="wrapper">

    <div class="intro">
        <div id="slideshow">
            <img src="/img/culture/header-1.jpg">
            <img src="/img/culture/header-2.jpg">
            <img src="/img/culture/header-3.jpg">
        </div>
        <h1 class="headline slide">
        <span>We</span>
        <span class="words-wrapper">
          <b class="is-visible">Rock</b>
          <b>Play</b>
          <b>Create</b>
        </span>
      </h1>
    </div>

    <!--
    <div class="snapshots">
        <h1>Snapshots</h1>
        <img class="image-1" data-aos="fade-up" src="../culture/culture-1.jpg">
        <img class="image-2" data-aos="fade-up" src="../culture/culture-3.jpg">
        <img class="image-3" data-aos="fade-up" src="../culture/culture-5.jpg">
        <img class="image-4" data-aos="fade-up" src="../culture/culture-7.jpg">
        <img class="image-5" data-aos="fade-up" src="../culture/culture-9.jpg">
        <img class="image-6" data-aos="fade-up" src="../culture/culture-11.jpg">
        <img class="image-7" data-aos="fade-up" src="../culture/culture-2.jpg">
        <img class="image-8" data-aos="fade-up" src="../culture/culture-4.jpg">
        <img class="image-9" data-aos="fade-up" src="../culture/culture-6.jpg">
        <img class="image-10" data-aos="fade-up" src="../culture/culture-8.jpg">
        <img class="image-11" data-aos="fade-up" src="../culture/culture-10.jpg">
    </div>
  -->

    <div class="testimonial">
        <div class="quote" data-aos="fade-up" data-aos-anchor="#testimonial-quote" data-aos-delay="500">
            <p>
                The people make Insight a great place to work. The different personalities of everyone here blend well together. We have a lot of fun and laugh a lot, but we work hard as well.
            </p>
        </div>
        <h2 data-aos="fade-up" data-aos-anchor="#testimonial-quote" data-aos-delay="700">Jenny Brandenburg, Media Buyer</h2>
    </div>

    <div class="employees">
      {% for staff in site.data.staff %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
      <div class="employee employee-left images-rotation" data-color="{{ staff.color }}" data-images='["{{ staff.image1 }}", "{{ staff.image2 }}", "{{ staff.image3 }}"]'>
          <img src="{{ staff.image1 }}" />
        <div class="bio">
          <h1>{{ staff.name }}</h1>
          <h2>{{ staff.job_title }}</h2>
          <p>{{ staff.bio }}</p>
        </div>
      </div>
      {% else %}
      <div class="employee employee-right images-rotation" data-color="{{ staff.color }}" data-images='["{{ staff.image1 }}", "{{ staff.image2 }}", "{{ staff.image3 }}"]'>
          <img src="{{ staff.image1 }}" />
        <div class="bio">
          <h1>{{ staff.name }}</h1>
          <h2>{{ staff.job_title }}</h2>
          <p>{{ staff.bio }}</p>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="contact-us" data-aos="fade-up">
        <a class="contact-link" href="#" data-letters="Contact Us">Contact Us</a>
    </div>

    <div class="footer">
        <h3>We’re a little bit of crazy with a whole lot of talent.</h3>
        <p>
            © Insight Creative, Inc. All rights reserved.
        </p>
    </div>

</div>
<!-- wrapper end -->

<!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/history.js/1.8/bundled/html4+html5/jquery.history.js"></script>
    <script src="js/ajax.js"></script>
    -->

<!-- Animate on Scroll start -->



<!-- Animate on Scroll end -->
