---
layout: default
title: Culture
permalink:
---

<div class="wrapper">
<!--
    <div class="intro">

        <h1 class="headline slide">
        <span>We</span>
        <span class="words-wrapper">
          <b class="is-visible">Rock</b>
          <b>Play</b>
          <b>Create</b>
        </span>
      </h1>
    </div>
-->
    <div class="culture-slider">
      <h1 class="headline slide">
      <span>We</span>
      <span class="words-wrapper">
        <b class="is-visible">Rock</b>
        <b>Play</b>
        <b>Create</b>
      </span>
    </h1>
      <div class="progress-bar">

      </div>
        <ul class="cd-hero-slider autoplay">
            <li class="selected">
                <div class="cd-full-width cd-img-container">
                  <img src="/img/culture/header-1.jpg">
                </div>
                <!-- .cd-full-width -->
            </li>
            <li>
                <div class="cd-full-width cd-img-container">
                  <img src="/img/culture/header-2.jpg">
                </div>
                <!-- .cd-full-width -->
            </li>
            <li>
                <div class="cd-full-width cd-img-container">
                  <img src="/img/culture/header-3.jpg">
                </div>
                <!-- .cd-full-width -->
            </li>
        </ul>
        <!-- .cd-hero-slider -->
    </div>

    <div class="snapshots">
        <div class="snap-container one-half" data-aos="fade-up" style="background-image:url('/img/culture/culture-1.jpg')">
        </div>
        <div class="snap-container one-half" data-aos="fade-up" data-aos-delay="100" style="background-image:url('/img/culture/culture-2.jpg')">
        </div>
        <div class="snap-container one-third" data-aos="fade-up" style="background-image:url('/img/culture/culture-4.jpg')">
        </div>
        <div class="snap-container one-third" data-aos="fade-up" data-aos-delay="100" style="background-image:url('/img/culture/culture-3.jpg')">
        </div>
        <div class="snap-container one-third" data-aos="fade-up" data-aos-delay="200" style="background-image:url('/img/culture/culture-5.jpg')">
        </div>
        <div class="snap-container one-half" data-aos="fade-up" style="background-image:url('/img/culture/culture-7.jpg')">
        </div>
        <div class="snap-container one-half" data-aos="fade-up" data-aos-delay="100" style="background-image:url('/img/culture/culture-8.jpg')">
        </div>
        <div class="snap-container one-third" data-aos="fade-up" style="background-image:url('/img/culture/culture-9.jpg')">
        </div>
        <div class="snap-container two-thirds" data-aos="fade-up" data-aos-delay="100" style="background-image:url('/img/culture/culture-11.jpg')">
        </div>
        <div class="snap-container one-half" data-aos="fade-up" style="background-image:url('/img/culture/culture-10.jpg')">
        </div>
        <div class="snap-container one-half" data-aos="fade-up" data-aos-delay="100" style="background-image:url('/img/culture/culture-6.jpg')">
        </div>
    </div>

    <div class="employees" id="employees">
      <h1>Meet the Team</h1>
      {% for staff in site.data.staff %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
      <div class="employee employee-left images-rotation" data-color="{{ staff.color }}" data-images='["{{ staff.image1 }}", "{{ staff.image2 }}", "{{ staff.image3 }}"]'>
          <img src="{{ staff.image1 }}" />
        <div class="bio">
          <h1 data-aos="fade-up" data-aos-delay="0">{{ staff.name }}</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">{{ staff.job_title }}</h2>
          <p data-aos="fade-up" data-aos-delay="800">{{ staff.bio }}</p>
        </div>
      </div>
      {% else %}
      <div class="employee employee-right images-rotation" data-color="{{ staff.color }}" data-images='["{{ staff.image1 }}", "{{ staff.image2 }}", "{{ staff.image3 }}"]'>
          <img src="{{ staff.image1 }}" />
        <div class="bio">
          <h1 data-aos="fade-up" data-aos-delay="0">{{ staff.name }}</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">{{ staff.job_title }}</h2>
          <p data-aos="fade-up" data-aos-delay="800">{{ staff.bio }}</p>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>

</div>
<!-- wrapper end -->


<!-- Animate on Scroll end -->
