---
layout: default
title: Blog
---
<div class="wrapper">
    <div class="blogs">

        <div class="featured-blog" data-aos="fade-up">
            {% for post in site.categories.blog limit:1 %}
            <a href="{{ post.url }}">
                <div class="blog-thumbnail" style="background-image:url('/img/blog/{{ post.cover-image }}')"></div>
                <div class="blog-info" style="background-color:#{{ post.back-color }}">
                    <h2 data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-anchor=".featured-blog" style="color:#{{ post.text-color }}">{{ post.title }}</h2>
                    <h3 data-aos="fade-up" data-aos-delay="400" data-aos-easing="ease-in-out" data-aos-anchor=".featured-blog" style="color:#{{ post.text-color }}">by <strong>{{ post.author }}</strong></h3>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="secondary-blogs">
            {% for post in site.categories.blog offset:1 limit:4 %}
            {% assign loopindex = forloop.index | modulo: 2 %}
            {% if loopindex == 1 %}
            <a href="{{ post.url }}">
                <div class="blog-right" data-aos="fade-up" style="background-color:#{{ post.back-color }}">
                    <div class="blog-thumbnail" style="background-image:url('/img/blog/{{ post.cover-image }}')"></div>
                    <div class="blog-info" >
                        <h2 data-aos="fade-up" data-aos-delay="200" style="color:#{{ post.text-color }}">{{ post.title }}</h2>
                        <h3 data-aos="fade-up" data-aos-delay="400" style="color:#{{ post.text-color }}">by <strong>{{ post.author }}</strong></h3>
                    </div>
                </div>
            </a>
            {% else %}
            <a href="{{ post.url }}">
                <div class="blog-left" data-aos="fade-up" style="background-color:#{{ post.back-color }}">
                  <div class="blog-thumbnail" style="background-image:url('/img/blog/{{ post.cover-image }}')"></div>
                    <div class="blog-info">
                        <h2 data-aos="fade-up" data-aos-delay="200" style="color:#{{ post.text-color }}">{{ post.title }}</h2>
                        <h3 data-aos="fade-up" data-aos-delay="400" style="color:#{{ post.text-color }}">by <strong>{{ post.author }}</strong></h3>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="archives">
      <h1 class="accordion">The <strong>Archive</strong></h1>

      <ul class="post-list">
        {% assign last_year = 0 %}
        {% for post in site.tags.blog %}
          {% capture current_year %}{{ post.date | date: '%Y' }}{% endcapture %}
          {% if last_year != current_year %}
            <h2>{{ post.date | date: '%Y' }}</h2>
          {% endif %}
            <li>
              <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            </li>
          {% assign last_year = current_year %}
        {% endfor %}
      </ul>
    </div>

</div>
