#video_container {
    @include span-columns(4);
    max-width: 100%;
    height: 400px;
    min-height: 400px;
    max-height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: $mobile-spacing;
    background-image: url('/img/agency/first-frame.jpg');
    background-size: cover;
    background-position: center;
    @include media($tablet) {
        margin-bottom: $tablet-spacing;
    }
    @include media($desktop) {
        margin-bottom: $desktop-spacing;
    }

    .text {
        position: absolute;
        z-index: 2;
        display: table;
        height: 100%;
        width: 100%;
        text-shadow: 0 0 10px rgba(0,0,0,.5);
    }

    h1 {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        font-weight: 400;
        color: #fff;
        float: none;

        strong {
            font-weight: 600;
        }
    }
}

.agency-header {
    height: 70vh;
    overflow: hidden;
    margin-bottom: $mobile-spacing;
    position: relative;
    background: url('/img/agency/agency-lobby-1800.jpg');
    background-size: cover;
    background-position: center center;
    @include media($tablet) {
        margin-bottom: $tablet-spacing;
    }
    @include media($desktop) {
        margin-bottom: $desktop-spacing;
    }

    .text {
        position: absolute;
        z-index: 2;
        text-align: center;
        display: table;
        height: 100%;
        width: 100%;
        text-shadow: 0 0 10px rgba(0,0,0,.7);

        h1 {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            color: #fff;
            float: none;
            @include media($tablet) {
                text-shadow: 0 0 15px rgba(0,0,0,.7);
                font-size: modular-scale(4);
            }
            @include media($desktop) {
                font-size: modular-scale(6);
            }
            @include media($desktop-large) {
                text-shadow: 0 0 25px rgba(0,0,0,.7);
                font-size: modular-scale(7);
            }
            @include media($desktop-largest) {
                font-size: modular-scale(8);
            }
        }
    }
}

.agency {
    @include span-columns(4);
    margin-bottom: $mobile-spacing;
    @include media($tablet) {
        margin-bottom: $tablet-spacing;
    }
    @include media($desktop) {
        margin-bottom: $desktop-spacing;
    }

    h1 {
        @include media($desktop-large) {
             @include span-columns(10);
            @include shift(1);
        }
        @include media($desktop-largest) {
             @include span-columns(7);
            @include shift(2);
        }
        @include media($desktop-super) {
             @include span-columns(6);
            @include shift(2);
        }
    }
}

.agency-lobby {
    @include span-columns(4);
    margin-bottom: $mobile-spacing;
    @include media($tablet) {
        margin-bottom: $tablet-spacing;
    }
    @include media($desktop) {
        margin-bottom: $desktop-spacing;
    }
}

.clients {
    @include span-columns(4);
    margin-bottom: $mobile-spacing;
    @include media($tablet) {
        margin-bottom: $tablet-spacing;
    }
    @include media($desktop) {
        margin-bottom: $desktop-spacing;
    }

    h1 {
        text-align: center;
    }

    .client {
        @include span-columns(2);
        @include omega;
        padding: 0.5em;
        text-align: center;

        img {
            width: 100%;
            filter: grayscale(100%);
            transition: filter 0.5s;
            padding-top: -100px;

            &:hover {
                filter: grayscale(0);
            }
        }
        @include media($desktop) {
            padding: 1em;
            @include span-columns(4);
            @include omega;
        }
        @include media($desktop-largest) {
            padding: 2em;
            @include span-columns(3);
            @include omega;
        }
    }
    @include media($desktop-largest) {
         @include span-columns(12);
    }


}

.studio-pano {
    position: relative;
    transition: opacity 0.5s;
    margin-bottom: $mobile-spacing;
    @include span-columns(4);

    overflow: hidden;
    @include media($tablet) {
        margin-bottom: $tablet-spacing;
    }
    @include media($desktop) {
        margin-bottom: $desktop-spacing;
    }

    img.light {
        position: absolute;
        z-index: 2;
        height: 100%;
        object-fit: cover;

        &:hover {
            opacity: 0;
        }
    }

    img.dark {
        position: relative;
        z-index: 1;
        height: 100%;
        object-fit: cover;
    }
}

.design-pano {
  margin-bottom: $mobile-spacing;
  @include span-columns(4);
  @include media($tablet) {
      margin-bottom: $tablet-spacing;
  }
  @include media($desktop) {
      margin-bottom: $desktop-spacing;
  }
}

.about-services {
    @include span-columns(4);
    margin-bottom: $mobile-spacing;
    @include media($tablet) {
        margin-bottom: $tablet-spacing;
    }
    @include media($desktop) {
        margin-bottom: $desktop-spacing;
    }
    @include media($desktop-large) {
         @include span-columns(10);
        @include shift(1);
    }
    @include media($desktop-largest) {
         @include span-columns(8);
        @include shift(2);
    }

    h1 {
        text-align: center;
        margin-bottom: 1em;
    }

    .about-service {
        @include span-columns(4);
        @include media($desktop) {
             @include span-columns(6);
            @include omega;
        }

        h2,
        h3 {
            @include span-columns(4);
        }

        h2 {
            margin-left: 0;
            font-weight: 400;
            margin-bottom: 0.3em;
        }

        h3 {
            margin-left: 0;
            margin-bottom: 2em;
        }
    }
}
