.blogs {
    @include span-columns(4);
    position: relative;
    margin-bottom: $mobile-spacing;

    h1 {
        margin-bottom: 1em;

        @include media($desktop-large){
          @include span-columns(12);
          @include shift(0);
        }
        @include media($desktop-largest){
          @include span-columns(12);
          @include shift(0);
        }
      }

    .featured-blog {
        height: 300px;
        background: #eee;
        position: relative;
        @include media($tablet) {
            height: 400px;
        }
        @include media($desktop) {
            height: 500px;
        }
        @include media($desktop-largest) {
            height: 600px;
        }
        @include media($desktop-super) {
            height: 700px;
        }

        .blog-thumbnail {
            background-size: cover;
            background-position: center;
            height: 100%;
            position: relative;
        }

        .blog-info {
            @include span-columns(4);
            height: auto;
            padding: 1em;
            @include media($tablet) {
                min-height: 200px;
            }
            @include media($desktop-large) {
                padding: 3em;
                min-height: 225px;
            }

            h2 {
              @include span-columns(4);
              @include shift(0);
                text-align: left;
                line-height: 1.1em;
                margin-bottom: 0.3em;
                @include media($desktop-largest) {
                    font-size: 3em;
                }
            }

            h3 {
              @include span-columns(4);
              @include shift(0);
                font-weight: 400;
                text-align: left;
                @include media($desktop-large) {
                    font-size: 1.8em;
                }

                strong {
                    font-weight: 600;
                }
            }
        }
    }

    .secondary-blogs {
        @include span-columns(4);

        .blog-left,
        .blog-right {
            @include span-columns(4);
            position: relative;
            height: auto;
            overflow: hidden;
            margin-top:1em;

            .blog-info {
                height: auto;
                @include span-columns(4);
                padding: 1em;
                @include media($desktop) {
                    padding: 2em;
                }

                h2 {
                  @include span-columns(4);
                  @include shift(0);
                    text-align: left;
                    line-height: 1.1em;
                    margin-bottom: 0.3em;
                    @include media($desktop-large) {
                        font-size: 3em;
                    }
                }

                h3 {
                  @include span-columns(4);
                  @include shift(0);
                    font-weight: 400;
                    text-align: left;
                    @include media($desktop-large) {
                        font-size: 1.8em;
                    }

                    strong {
                        font-weight: 600;
                    }
                }
            }

            .blog-thumbnail {
                height: 300px;
                width: 100%;
                background-size: cover;
                background-position: center;
                @include media($tablet){
                  @include transition(width 1s);
                  width: 50%;
                }
                @include media($desktop-large) {
                    height: 400px;
                }
                @include media($desktop-largest) {
                    height: 500px;
                }
                @include media($desktop-super) {
                    height: 600px;
                }
            }
        }

        .blog-right {

            .blog-info {
              h2, h3 {
                text-align: left;
                @include media($tablet) {
                  text-align: right;
                }
              }
                @include media($tablet) {
                    width: 50%;
                    height: 300px;
                    float: left;
                    @include transition(width 1s);
                }
                @include media($desktop-large) {
                    padding: 3em;
                    height: 400px;
                }
                @include media($desktop-largest) {
                    height: 500px;
                }
                @include media($desktop-super) {
                    height: 600px;
                }
            }

            .blog-thumbnail {
                @include media($tablet) {
                    width: 50%;
                    float: right;
                    margin: 0;
                }
            }
        }

        .blog-right:hover,.blog-left:hover {
            .blog-info {
                @include media($tablet) {
                    width: 40%;
                    @include transition(width 1s);
                }
            }
            .blog-thumbnail{

              @include media($tablet){
                width: 60%;
                @include transition(width 1s);
              }

            }
        }

        .blog-left {
            .blog-info {
                @include media($tablet) {
                    width: 50%;
                    height: 300px;
                    float: right;
                    @include transition(width 1s);
                }
                @include media($desktop-large) {
                    padding: 3em;
                    height: 400px;
                }
                @include media($desktop-largest) {
                    height: 500px;
                }
                @include media($desktop-super) {
                    height: 600px;
                }
            }

            .blog-thumbnail {
                @include media($tablet) {
                    width: 50%;
                    float: left;
                    margin: 0;
                }
            }
        }
    }
}

.archives {
    margin-bottom: $mobile-spacing;
    @include span-columns(4);

    h1 {
        border-top: 5px solid $light-gray;
        border-bottom: 5px solid $light-gray;
        margin-bottom: 0;
        padding:.3em 0;
        color: $light-gray;
        font-weight: 400;
        @include transition(color .5s, border-color .5s);
        @include media($desktop-large){
          @include span-columns(12);
          @include shift(0);
        }
        @include media($desktop-largest){
          @include span-columns(12);
          @include shift(0);
        }

        strong {
            font-weight: 600;
        }

        i{
          position: relative;
          float:right;
          margin-right:.2em;
          margin-top:.5em;
          font-size:.5em;
          margin-left:1em;
          @include transition(transform .5s);
        }
    }

    h1:hover {
        color: $dark-gray;
        border-color:$dark-gray;
        @include transition(color .5s, border-color .5s);
    }

    h1.accordion {
        cursor: pointer;
    }

    h1.active{
        color:$brand-color;
        border-color:$dark-gray;
        @include transition(color .5s, border-color .5s);
      i {
        transform-origin: center center;
        @include transform(rotate(45deg));
        @include transition(transform .5s);
      }
    }


    ul.post-list {
        @include span-columns(4);
        @include transition(all .5s);
        max-height: 0;
        overflow: hidden;
        text-align: center;



        h2 {
            color: $light-gray;
            margin-top: 0.5em;
            margin-bottom: 0;
            text-align: left;
            @include media($desktop-large){
              @include span-columns(12);
              @include shift(0);
            }
            @include media($desktop-largest){
              @include span-columns(12);
              @include shift(0);
            }
        }

        li {
            text-align: left;
        }

        li a {
            color: $dark-gray;
            text-decoration: none;
            font-size: 1.2em;
            line-height: 1.5em;
            text-align: left;
            @include transition(color .5s);

            @include media($tablet) {
                font-size: 1.4em;
            }
            @include media($desktop-large){
              @include span-columns(12);
              @include shift(0);
            }
            @include media($desktop-largest){
              @include span-columns(12);
              @include shift(0);
              font-size:1.6em;
            }

            &:hover{
              color: $brand-color;
            }
        }
    }
}

.blog-post {
    @include span-columns(4);

    .blog-title {

        h1{
          margin-bottom:.25em;
        }
        h3 {
            font-weight: 400;
            font-size: 1.2em;
            margin-bottom:1em;
            strong {
                font-weight: 600;
            }
            @include media($desktop-large) {
                font-size: 1.8em;
            }
        }
    }

    .blog-body {
        margin-bottom: $mobile-spacing;
        @include span-columns(4);

        p {
            margin-top: 1em;
        }

        a,
        a:visited {
            position: relative;
            color: $brand-color;
            text-decoration: none;
            padding: 2px 0;
        }

        a:hover {
            color: lighten($brand-color, 20%);
        }

        a::after {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 2px;
            background: darken($brand-color, 10%);
            content: '';
            opacity: 0;
            -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
            -moz-transition: opacity 0.3s, -moz-transform 0.3s;
            transition: opacity 0.3s, transform 0.3s;
            -webkit-transform: translateY(5px);
            -moz-transform: translateY(5px);
            transform: translateY(5px);
        }

        a:focus::after,
        a:hover::after {
            opacity: 1;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            transform: translateY(0px);
        }




        h1 a,
        h2 a,
        h3 a,
        h4 a,
        h5 a {
            color: $brand-color;
        }

      h2{
        margin-top:1em;
      }

        iframe {
            margin: 30px 0;
            @include span-columns(4);
            min-height: 400px;
            @include media($desktop-large){
              @include span-columns(10);
              @include shift(1);
              max-width: 100%;
            }
            @include media($desktop-largest){
              @include span-columns(8);
              @include shift(2);
              max-width: 100%;
            }
        }

        img {
            width: 100%;
        }

        video {
            max-width: 100%;
            @include span-columns(4);

            @include media($desktop-large){
              @include span-columns(10);
              @include shift(1);
              max-width: 100%;
            }
            @include media($desktop-largest){
              @include span-columns(8);
              @include shift(2);
              max-width: 100%;
            }
        }

        ul{
          margin-top:1em;
          list-style: disc;
          display:inline-block;
          padding-left:1em;
          @include media($tablet){
            font-size: modular-scale(1);

          }
          @include media($desktop-large){
            font-size: 1.5em;
            @include span-columns(10);
            @include shift(1);
          }
          @include media($desktop-largest){
            font-size: 1.5em;
            @include span-columns(8);
            @include shift(2);
          }
          li{
            line-height:1.5em;
            margin-bottom:.5em;
          }
        }
    }

    .employees{
      margin-top:1em;
      margin-bottom:0;
      h3{
        text-align: left;
        color:rgba(255,255,255,.8);
        margin-bottom:.5em;
        font-size:.8em;
        @include media($desktop-large){
          @include span-columns(12);
          @include shift(0);
        }
        @include media($desktop-largest){
          @include span-columns(12);
          @include shift(0);
        }

        @include media($tablet){
          font-size:1em;
        }
        @include media($desktop){
          font-size:1.2em;
        }
        @include media($desktop-large){
          font-size:1.3em;
        }
      }
    }

    .nextprevious {
      .previous-project, .next-project {
          height: 200px;
          @include media($tablet) {
              height: 300px;
          }
          @include media($desktop) {
              height: 400px;
          }
          @include media($desktop-largest) {
              height: 500px;
          }
      }
    }
}
