.contact-info {
    margin-bottom: $mobile-spacing;

    @include span-columns(4);

    .banner {
        margin-bottom: $mobile-spacing;
        min-height:100px;

        @include media($tablet){
          min-height:200px;
        }

        @include span-columns(4);

        h1 {
            margin-bottom: 0.1em;

            font-weight: 400;
        }

        h1,
        h2 {
            @include media($desktop-large) {
                 @include span-columns(12);
                @include shift(0);
            }
            @include media($desktop-largest) {
                 @include span-columns(12);
                @include shift(0);
            }
        }

        .typed-cursor {
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;

            opacity: 1;
        }
    }

    .email,
    .visit {
        margin-bottom: 2em;
        h1 {
            margin-bottom: 0.2em;

            font-size: 1.5em;
            font-weight: 600;

            a {
                color: $dark-gray;
            }
        }

        h2 {
            font-weight: 400;
            margin-bottom:.3em;
        }

        h3 {
            margin-bottom: 0.2em;

            color: $medium-gray;
        }

        @include span-columns(4);
        @include media($tablet) {
            h1 {
                font-size: 2em;
            }
        }
        @include media($desktop) {
             @include span-columns(6);

            h2 {
                font-size: 1.5em;
            }
        }
        @include media($desktop-large) {
            h1 {
                font-size: 2.5em;
            }

            h2 {
                font-size: 2em;
            }
        }
        @include media($desktop-largest) {
            h1 {

                font-size: 3em;
            }

            h2 {
                font-size: 2.5em;
            }

            h3 {
                font-size: 1.8em;
            }
        }
        @include media($desktop-super) {
            h1 {
                font-size: 4em;
            }

        }

        h1,
        h2,
        h3 {
            @include media($desktop-large) {
                 @include span-columns(12);
                @include shift(0);
            }
            @include media($desktop-largest) {
                 @include span-columns(12);
                @include shift(0);
            }
        }
    }
}

.building {
    @include span-columns(4);

    img {
        @include span-columns(4);
    }
}

#cd-google-map {
    position: relative;
    visibility: visible;

    margin-bottom: $mobile-spacing;

    @include span-columns(4);

    address {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        padding: 1em;

        text-align: center;

        color: #fff;
        background-color: rgba($brand-color, .9);
    }
}

#google-container {
    position: relative;
    visibility: visible;

    width: 100%;
    height: 200px;

    background-color: black;

    @include span-columns(4);
    @include media($tablet) {
        height: 300px;
    }
    @include media($desktop) {
        height: 400px;
    }
    @include media($desktop-large) {
        height: 500px;
    }
    @include media($desktop-largest) {
        height: 600px;
    }
    @include media($desktop-super) {
        height: 700px;
    }
}

#cd-zoom-in,
#cd-zoom-out {
    width: 32px;
    height: 32px;
    margin-left: 10px;

    cursor: pointer;

    background-color: rgba($brand-color, .8);
    background-image: url('/img/contact/cd-icon-controller.svg');
    background-repeat: no-repeat;
    background-size: 32px 64px;

    &:hover {
        background-color: rgba($brand-color, 1);
    }
}

#cd-zoom-in {
    margin-top: 10px;
    margin-bottom: 1px;

    background-position: 50% 0;
}

#cd-zoom-out {
    background-position: 50% -32px;
}
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.contact-form {
    margin-bottom: $mobile-spacing;

    @include span-columns(4);

    input {
        width: 100%;
        margin-top: 1em;
        padding: 0.5em;

        border: none;
        border-bottom: 2px solid $dark-gray;

        font-family: "futura-pt", sans-serif;
        font-size: 1.5em;

        @include transition(all .5s)
    }

    ::-webkit-input-placeholder {
        color: $light-gray;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: $light-gray;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: $light-gray;
    }

    :-ms-input-placeholder {
        color: $light-gray;
    }

    button:focus,
    input:focus,
    select:focus,
    textarea:focus {
        border-bottom: 2px solid $brand-color;
        outline: none;

        @include transition(all .5s);
    }

    textarea {
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0.5em;

        border: none;
        border-bottom: 2px solid $dark-gray;

        font-family: "futura-pt", sans-serif;
        font-size: 1.5em;
    }


}
.btn {
    width: 100%;
    padding: 1em 3em;
    display: block;
    color: #fff;
    border: none;
    background: $dark-gray;
    font-family: "futura-pt", sans-serif;
    font-size: 1.3em;
    @include transition(all .5s);
    cursor: pointer;

    @include media($desktop){
      width:250px;
      font-size: 1.4em;
    }
}
.btn:hover{
  background:$brand-color;
  @include transition(all .5s);
}

.careers {
    @include span-columns(4);
    margin-bottom: $mobile-spacing;

    h3 {
      font-weight: normal;
      margin-bottom:1em;
    }

    ul.positions {
        li {
          padding:1em 0;
          @include transition(border-color .5s);
            @include span-columns(4);
            @include omega;
            @include media($desktop-large) {
                 @include span-columns(10);
                @include shift(1);
            }
            @include media($desktop-largest) {
                 @include span-columns(8);
                @include shift(2);
            }
            border-top: 2px solid $dark-gray;

            &:last-child{
              border-bottom: 2px solid $dark-gray;
            }
        }
        li:hover,
        li:focus,
        li:hover + li{
          border-color:$dark-gray;
          @include transition(border-color .5s);
        }
        li:hover + li:last-child{
          border-top-color:$dark-gray;
          border-bottom-color:$dark-gray;
          @include transition(border-color .5s);
        }
    }

    .position {
        @include span-columns(4);
        position: relative;

        h2 {
            text-align: left;
            margin-bottom: 0;
            padding: 0;
            cursor: pointer;
            color: $dark-gray;
            font-weight: normal;
            @include transition(color .5s);
            @include media($desktop-large) {
                 @include span-columns(12);
                @include shift(0);
            }
            @include media($desktop-largest) {
                 @include span-columns(12);
                @include shift(0);
            }
            span{
              position: absolute;
              height: 100%;
              right:.2em;
              top:40%;
              @include transform(translateY(-50%));
            }

            i {
                position: relative;
                font-size: 0.5em;
                @include transition(transform .5s);
            }
        }

        h2:hover {
            color: $brand-color;
            @include transition(color .5s);
        }
    }

    .active {
        h2,
        h2:hover {
            color: $brand-color;
        }

        i {
            transform-origin: center center;
            @include transform(rotate(45deg));
            @include transition(transform .5s);
        }
    }

    .position-description {
        @include span-columns(4);
        @include transition(all .5s);
        max-height: 0;
        overflow: hidden;

        p {
            margin-top:1em;
            margin-bottom: 2em;
            @include transition(color .5s);
            @include media($desktop-large) {
                 @include span-columns(12);
                @include shift(0);
            }
            @include media($desktop-largest) {
                 @include span-columns(12);
                @include shift(0);
            }
        }
        ul.position-list {
          @include span-columns(4);
          list-style-type: disc !important;
          margin-bottom: 3em;

          li {
            border:none;
            margin:0;
            padding:0;
            display: list-item;
            margin-left: 1em;
            line-height: 2em;

            &:last-child {
              border:none;
            }

            p {
              margin:0;
              padding:0;
            }
          }
        }
    }
}
