.culture-slider {
    position: relative;
    z-index: 2;
    width: 100%;
    background: url('../img/logo-slider/slider-background.jpg');
    background-color: #eeedf2;
    background-position: bottom;
    background-size: cover;

    h1 {
        position: relative;
        z-index: 1;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        color: white;
        text-shadow: 0 0 10px rgba(0,0,0,.7);
        font-weight: 800;
        @include center;
        @include media($tablet) {
            text-shadow: 0 0 15px rgba(0,0,0,.7);
            font-size: modular-scale(4);
        }
        @include media($desktop) {
            font-size: modular-scale(6);
        }
        @include media($desktop-large) {
            text-shadow: 0 0 25px rgba(0,0,0,.7);
            font-size: modular-scale(7);
            width: 100%;
            float: none;
            position: relative;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            @include span-columns(12);
            @include shift(0);
        }
        @include media($desktop-largest) {
            font-size: modular-scale(8);
            @include span-columns(12);
            @include shift(0);
        }
        @include media($desktop-super) {}
    }

    .headline.slide {
        position: absolute;
        z-index: 5;

        span {
            display: inline;
            padding: 0.2em 0;
        }

        .words-wrapper {
            overflow: hidden;
            vertical-align: top;
        }

        b {
            top: 0.2em;
            opacity: 0;

            &.is-visible {
                top: 0;
                opacity: 1;
                @include animation(slide-in .6s);
            }

            &.is-hidden {
                @include animation(slide-out .6s);
            }
        }
    }

    .cd-hero-slider {
        position: relative;
        overflow: hidden;
        height: 70vh;

        li {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            @include transition(opacity 1s);

            &.selected {
                position: relative;
                opacity: 1;
                @include transition(opacity 1s);
            }

            &.is-moving,
            &.selected {
                @include transition(opacity 1s);
            }
        }
    }

    .cd-hero-slider {
        li {
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .cd-full-width,
        .cd-half-width {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            left: 0;
            top: 0;
            text-align: left;
            @include backface-visibility(hidden);
            @include transform(translateZ(0));

            .text {
                position: absolute;
                width: 100%;
                left: 50%;
                bottom: 0;
                padding: 1em;
                background: rgba(255,255,255,.5);
                @include transform(translateX(-50%));
                @include media($desktop-large) {
                    right: 0;
                    left: auto;
                    bottom: 15%;
                    width: 30%;
                    @include transform(translateX(0));
                    background: none;
                }
                @include media($desktop-largest) {
                    width: 35%;
                }
            }
        }

        .cd-img-container {
            z-index: 1;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
                object-position: center 20%;
            }
        }

        h2,
        h3 {
            margin: 0;
            padding: 0;
            text-align: left;
            @include media($desktop-large) {
                 @include span-columns(12);
                @include shift(0);
            }
            @include media($desktop-largest) {
                 @include span-columns(12);
                @include shift(0);
            }
        }

        h3 {
            font-weight: 400;

            strong {
                font-weight: 600;
            }
        }
        @include media($desktop) {
            h2 {
                font-size: 1.4em;
            }

            h3 {
                font-size: 1.1em;
            }
        }
        @include media($desktop-largest) {
            h2 {
                font-size: 1.8em;
            }

            h3 {
                font-size: 1.4em;
            }
        }
        @include media($desktop-super) {
            h2 {
                font-size: 2em;
            }

            h3 {
                font-size: 1.6em;
            }
        }
    }

    .progress-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 0;
        z-index: 5;
        background: #fff;
        opacity: 0.5;
        display: inline-block;
    }

    .cd-hero-slider {
        .cd-half-width {
            opacity: 0;
            @include transform(translateX(-40px));
        }

        .move-left .cd-half-width {
            @include transform(translateX(-40px));
        }

        .selected .cd-half-width {
            /* this is the visible slide */
            opacity: 1;
            @include transform(translateX(0));
        }

        .is-moving .cd-half-width {
            /* this is the slide moving outside the viewport
			wait for the end of the transition on the <li> parent before set opacity to 0 and translate to 40px/-40px */
            @include transition(opacity 0s .5s, transform 0s .5s);
        }

        li.selected.from-left .cd-half-width:nth-of-type(2),
        li.selected.from-right .cd-half-width:first-of-type {
            /* this is the selected slide - different animation if it's entering from left or right */
            @include transition(opacity .4s .2s, transform .5s .2s);
        }

        li.selected.from-left .cd-half-width:first-of-type,
        li.selected.from-right .cd-half-width:nth-of-type(2) {
            /* this is the selected slide - different animation if it's entering from left or right */
            @include transition(opacity .4s .4s, transform .5s .4s);
        }

        .cd-full-width .cd-btn,
        .cd-full-width h2,
        .cd-full-width h3 {
            opacity: 0;
            @include transform(translateX(100px));
        }

        .move-left .cd-full-width .cd-btn,
        .move-left .cd-full-width h2,
        .move-left .cd-full-width h3 {
            opacity: 0;
            @include transform(translateX(100px));
        }

        .selected .cd-full-width .cd-btn,
        .selected .cd-full-width h2,
        .selected .cd-full-width h3 {
            /* this is the visible slide */
            opacity: 1;
            @include transform(translateX(0));
        }

        li.is-moving .cd-full-width .cd-btn,
        li.is-moving .cd-full-width h2,
        li.is-moving .cd-full-width h3 {
            /* this is the slide moving outside the viewport
			wait for the end of the transition on the li parent before set opacity to 0 and translate to 100px/-100px */
            @include transition(opacity 0s 1s, transform 0s 1s);
        }

        li.selected h2 {
            @include transition(opacity .4s .2s, transform .5s .2s);
        }

        li.selected h3 {
            @include transition(opacity .4s .3s, transform .5s .3s);
        }

        li.selected .cd-btn {
            @include transition(opacity .4s .4s, transform .5s .4s, background-color .2s 0s);
        }
    }
}
// Animated Header image --------------------------------------------
.intro {
    position: relative;
    display: table;
    overflow: hidden;
    width: 100%;
    height: 400px;
    text-align: center;
    background: #eee;
    @include media($tablet) {
        height: 600px;
    }
    @include media($desktop) {
        height: 700px;
    }
    @include media($desktop-large) {
        height: 800px;
    }
    @include media($desktop-largest) {
        height: 900px;
    }
    @include media($desktop-super) {
        height: 1000px;
    }
}

.intro h1 {
    position: relative;
    z-index: 1;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,.7);
    font-family: sans-serif;
    font-weight: 800;
    @include media($tablet) {
        text-shadow: 0 0 15px rgba(0,0,0,.7);
        font-size: modular-scale(4);
    }
    @include media($desktop) {
        font-size: modular-scale(6);
    }
    @include media($desktop-large) {
        text-shadow: 0 0 25px rgba(0,0,0,.7);
        font-size: modular-scale(7);
        width: 100%;
        float: none;
        position: relative;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    @include media($desktop-largest) {
        font-size: modular-scale(8);
    }
    @include media($desktop-super) {}
}

#slideshow {
    position: absolute;
    overflow: hidden;
    width: 100%;
    max-width: $max-width;
    height: 400px;
    @include media($tablet) {
        height: 600px;
    }
    @include media($desktop) {
        height: 700px;
    }
    @include media($desktop-large) {
        height: 800px;
    }
    @include media($desktop-largest) {
        height: 900px;
    }
    @include media($desktop-super) {
        height: 1000px;
    }
}

#slideshow img {
    min-width: 100%;
    min-height: 100%;
}

.words-wrapper {
    position: relative;
    display: inline-block;
    text-align: left;

    b {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        white-space: nowrap;

        &.is-visible {
            position: relative;
        }
    }

    .no-js & b {
        opacity: 0;

        &.is-visible {
            opacity: 1;
        }
    }
}
@include keyframes(slide-in) {
    0% {
        opacity: 0;
        @include transform(translateY(-100%));
    }

    60% {
        opacity: 1;
        @include transform(translateY(20%));
    }

    100% {
        opacity: 1;
        @include transform(translateY(0));
    }
}
@include keyframes(slide-out) {
    0% {
        opacity: 1;
        @include transform(translateY(0));
    }

    60% {
        opacity: 0;
        @include transform(translateY(120%));
    }

    100% {
        opacity: 0;
        @include transform(translateY(100%));
    }
}

.snapshots {
    @include span-columns(4);
    margin-bottom: $mobile-spacing;
    @include media($tablet) {
        margin-bottom: $tablet-spacing;
    }
    @include media($desktop) {
        margin-bottom: $desktop-spacing;
    }

    .snap-container {
        @include span-columns(4);
        background-size: cover;
        background-position: center;
        height: 300px;
        @include media($tablet) {
            height: 400px;
        }
        @include media($desktop-large) {
            height: 500px;
        }
        @include media($desktop-super) {
            height: 600px;
        }
    }
    @include media($desktop) {
        .one-half {
            @include span-columns(2);
            @include omega;
            width: 50%;
        }

        .one-third {
            @include span-columns(2);
            @include omega;
            width: 33.333%;
        }

        .two-thirds {
            @include span-columns(2);
            @include omega;
            width: 66.667%;
        }
    }
}

.culture {
    .testimonial {
        @include span-columns(4);
        margin-bottom: 0;
        padding-bottom: 6em;
    }
}

.clear {
    @include clearfix;
}

.employees {
    @include span-columns(4);
    position: relative;

    h1 {
        text-align: center;
        margin-bottom: 2em;
    }

    .employee {
        padding: 1em;
        height: auto;
        height: 200px;
        position: relative;
        margin: 0;
        @include span-columns(4);
        @include display(flex);
        @include align-items (center);

        .bio {
            position: relative;
            @include span-columns(2);
        }

        h1 {
            font-size: 1.4em;
            color: #d31145;
            line-height: 1em;
            margin-bottom: 5px;
            text-align: left;
            @include media($desktop-large) {
                 @include span-columns(12);
                @include shift(0);
            }
            @include media($desktop-largest) {
                 @include span-columns(12);
                @include shift(0);
            }
        }

        h2 {
            font-weight: 400;
            font-size: 0.9em;
            margin-bottom: 0.5em;
            line-height: 1em;
            text-align: left;
            @include media($desktop-large) {
                 @include span-columns(12);
                @include shift(0);
            }
            @include media($desktop-largest) {
                 @include span-columns(12);
                @include shift(0);
            }
        }

        p {
            font-size: 1.2em;
            display: none;
            line-height: 1.2em;
            font-family: "futura-pt", sans-serif;
            @include media($desktop-large) {
                 @include span-columns(12);
                @include shift(0);
            }
            @include media($desktop-largest) {
                 @include span-columns(12);
                @include shift(0);
            }
        }
    }
    @include media($large-phone) {
        .employee {
            padding: 1em;
            min-height: 200px;

            h1 {
                font-size: 1.6em;
            }

            h2 {
                font-size: 1.1em;
            }

            p {}
        }
    }
    @include media($tablet) {
        .employee {
            padding: 2em;
            height: 400px;

            h1 {
                font-size: 2em;
            }

            h2 {
                font-size: 1.1em;
            }

            p {}
        }
    }
    @include media($desktop) {
        .employee {
            padding: 3em;
            height: 500px;

            h1 {
                font-size: 3em;
            }

            h2 {
                font-size: 1.5em;
            }

            p {
                font-size: 1em;
                line-height: 1.3em;
                display: inline-block;
            }
        }
    }
    @include media($desktop-large) {
        .employee {
            padding: 3em;
            height: 600px;

            h1 {
                font-size: 4em;
            }

            h2 {
                font-size: 1.7em;
            }

            p {
                font-size: 1.2em;
                line-height: 1.5em;
                display: inline-block;
            }
        }
    }
    @include media($desktop-largest) {
        .employee {
            padding: 5em;
            height: 700px;

            h1 {
                font-size: 5em;
            }

            h2 {
                font-size: 2.5em;
            }

            p {
                font-size: 1.4em;
            }
        }
    }
    @include media($desktop-super) {
        .employee {
            padding: 8em;
            height: 800px;
        }
    }

    .employee-left {
        img {
            margin-right: 0;
            position: absolute;
            bottom: 0;
            right: 3%;
            height: calc(100% + 20px);
            width: auto;
            @include media($large-phone) {
                right: 3%;
                height: calc(100% + 25px);
            }
            @include media($tablet) {
                right: 3%;
                height: calc(100% + 50px);
            }
            @include media($desktop-large) {
                right: 3%;
                height: calc(100% + 50px);
            }
            @include media($desktop-largest) {
                right: 3%;
                height: calc(100% + 100px);
            }
        }
    }

    .employee-right {
        img {
            margin-left: 0;
            position: absolute;
            bottom: 0;
            left: 3%;
            height: calc(100% + 20px);
            width: auto;
            @include media($large-phone) {
                left: 3%;
                height: calc(100% + 25px);
            }
            @include media($tablet) {
                height: calc(100% + 50px);
            }
            @include media($desktop-large) {
                left: 3%;
                height: calc(100% + 50px);
            }
            @include media($desktop-largest) {
                left: 3%;
                height: calc(100% + 100px);
            }
        }

        .bio {
            @include span-columns(2);
            @include shift(2 of 4);

            h1,
            h2 {
                text-align: right;
                @include media($desktop) {
                    text-align: left;
                }
            }
        }
    }

    [data-color=gray] {
        @include radial-gradient(#e3e3e2, #cac8c9);
        background-color: #e3e3e2;

        h1 {
          color: #226594;
        }
    }

    [data-color=black] {
        @include radial-gradient(#2a2a2a, #060606);
        background-color: #101010;

        h1 {
            color: $brand-color;
            background: none;
        }

        h2 {
            color: #fff;
        }

        p {
            color: #d9d9d9;
        }
    }

    [data-color=red] {
        @include radial-gradient(#c42c56, #a2152c);

        h1 {
            color: #fff;
        }

        h2 {
            color: #fc91a0;
        }

        p {
            color: #f3cdd7;
        }
    }

    [data-color=yellow] {
        @include radial-gradient(#f4f3b1, #f4b15b);

        h1 {
            color: #7f51ad;
        }

        h2 {
            color: #101010;
        }

        p {
            color: #5c3a13;
        }
    }

    [data-color=blue] {
        @include radial-gradient(#79bccf, #3a63ad);

        h1 {
            color: #fff;
        }

        h2 {
            color: #07374a;
        }

        p {
            color: #cfdde9;
        }
    }

    [data-color=orange] {
        @include radial-gradient(#ffd9ae, #d89060);

        h1 {
            color: #2c211f;
        }

        h2 {
            color: #ffffff;
        }

        p {
            color: #64402a;
        }
    }

    [data-color=purple] {
        @include radial-gradient(#bf76ee, #6a2790);

        h1 {
            color: #fff;
        }

        h2 {
            color: #240833;
        }

        p {
            color: #f0ecf3;
        }
    }

    [data-color=malechite] {
        @include radial-gradient(#70cc93, #289f73);

        h1 {
            color: #ebf7b1;
        }

        h2 {
            color: #042b31;
        }

        p {
            color: #e6eef5;
        }
    }

    [data-color=pink] {
        @include radial-gradient(#fbb1eb, #e37fcd);

        h1 {
            color: #fff;
        }

        h2 {
            color: #90347c;
        }

        p {
            color: #20022d;
        }
    }

    [data-color=green] {
        @include radial-gradient(#b3f499, #95bd53);

        h1 {
            color: #fff;
        }

        h2 {
            color: #593510;
        }

        p {
            color: #010101;
        }
    }

    [data-color=darkgray] {
        @include radial-gradient(#9d9d9d, #3c3c3c);

        h1 {
            color: #57f0b8;
        }

        h2 {
            color: #010101;
        }

        p {
            color: #e8e8e8;
        }
    }

    [data-color=magenta] {
        @include radial-gradient(#78183a, #4f1131);

        h1 {
            color: #efdd93;
        }

        h2 {
            color: #e2a4bb;
        }

        p {
            color: #f2ebf7;
        }
    }

    [data-color=brown] {
        @include radial-gradient(#846a4e, #44321f);

        h1 {
            color: #fdb856;
        }

        h2 {
            color: #d5bca0;
        }

        p {
            color: #e9dbcd;
        }
    }

    [data-color=darkblue] {
        @include radial-gradient(#36477f, #252170);

        h1 {
            color: #eee;
        }

        h2 {
            color: #99b0e4;
        }

        p {
            color: #dbe0ee;
        }
    }

    [data-color=peach] {
        @include radial-gradient(#f69679, #e56139);

        h1 {
            color: #ffea98;
        }

        h2 {
            color: #ffe0d7;
        }

        p {
            color: #fff;
        }
    }

    [data-color=midblue] {
        @include radial-gradient(#85a1de, #5674b9);

        h1 {
            color: #fff;
        }

        h2 {
            color: #3a5798;
        }

        p {
            color: #d6dceb;
        }
    }
}
