
.contact-us, .view-work {
    text-align: center;
    margin-bottom: $mobile-spacing;
    overflow: hidden;
    @include span-columns(4);

    @include media($tablet){
      @include span-columns(8);
    }

    a {
        position: relative;
        display:inline-block;

        text-decoration: none;

        color: $light-gray;
        outline: none;

        font-size: 3.5em;
        font-weight: 600;

        @include transform(translateY(30%));
        @include transition(all .5s);
        @include media($tablet){
          font-size:4.5em;
        }
        @include media($desktop){
          font-size:7.5em;
        }
        @include media($desktop-large){
          font-size:10em;
        }
        @include media($desktop-super){
          font-size:13em;
        }
    }

    &:hover{
      a:hover{
        color: $dark-gray;
        @include transform(translateY(0));
      }
    }

}

.footer {
  @include span-columns(4);
  text-align:center;
  margin-bottom:20px;
  padding:0 2em;
  h3{
    margin-bottom:10px;
    text-align:center;
  }

  p{
    font-size:.8em;
    text-align:center;
  }
}
