*, *::after, *::before {
  box-sizing: border-box;
}

body {
    font-family: "proxima-nova", sans-serif;
    background: #fff;
    overflow-x:hidden;
    @include transition(all .5s);
}

p {
    color: $dark-gray;
    font-size: 1em;
    line-height: 1.6em;
    margin-bottom:1em;

    @include media($tablet){
      font-size: modular-scale(1);

    }
    @include media($desktop-large){
      font-size: 1.3em;
      @include span-columns(10);
      @include shift(1);
    }
    @include media($desktop-largest){

      @include span-columns(8);
      @include shift(2);
    }

    a, a:visited {
      position: relative;
      color:$brand-color;
      text-decoration: none;
      padding: 1px 0;
      @include transition(color .5s);
    }
    a:hover{
      color:$brand-color;
      @include transition(color .5s);
    }
    a::after {
    	position: absolute;
    	top: 100%;
    	left: 0;
    	width: 100%;
    	height: 2px;
    	background: $dark-gray;
    	content: '';
    	opacity: 0;
      z-index:2;
    	@include transition(all .5s);
    	@include transform(translateY(5px));
    }
    a:hover::after,
    a:focus::after {
    	opacity: 1;
    	@include transform(translateY(0px));
    }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "futura-pt", sans-serif;
  font-weight: 600;
  color: $dark-gray;
  line-height: 1em;
  text-align:left;
  @include media($desktop-large){
    @include span-columns(10);
    @include shift(1);
  }
  @include media($desktop-largest){
    @include span-columns(8);
    @include shift(2);
  }

  a{
    color:#fff;
    text-decoration: none;
  }
}

form{
  @include span-columns(4);
  @include media($desktop-large){
    @include span-columns(10);
    @include shift(1);
  }
  @include media($desktop-largest){
    @include span-columns(8);
    @include shift(2);
  }
}

h1 {
    font-size: 2em;
    margin-bottom:.5em;
    @include media($tablet){
      font-size: modular-scale(4);
    }
    @include media($desktop){
      font-size: modular-scale(5);
    }
}
h2 {
    font-size: 1.3em;
    @include media($tablet){
      font-size: modular-scale(2);
    }
    @include media($desktop){
      font-size: modular-scale(3);
    }
}
h3 {
    font-size: 1em;
    @include media($tablet){
      font-size: modular-scale(1);
    }

}
img {
    max-width: 100%;
}

.clearfix{
  @include clearfix;
}

.wrapper {
    @include span-columns(4);
    margin: 0 auto;
    margin-top: $nav-height*1.2;
    padding:0 20px;

    @include media($tablet){
      padding:0 50px;
    }
    @include media($desktop){
      padding:0 75px;
    }
    @include media($desktop-large){
      padding:0 100px;
    }
    @include media($desktop-largest){
      padding:0 200px;
    }
    @include media($desktop-super){
      padding:0 300px;
    }

    img{
      max-width:100%;
    }
}
.spacer{
  display:inline-block;
  background: transparent;
  margin-bottom:$mobile-spacing;
  width:100%;
}

.js-Pjax-child{
  display:block;
  position: relative;
  @include span-columns(4);
  -vendor-animation-duration: 10s;
}
