.home-slider, .testimonial-slider {
    position: relative;
    z-index: 2;
    width: 100%;
    background: url('../img/logo-slider/slider-background.jpg');
    background-color: #eeedf2;
    background-position: bottom;
    background-size: cover;

    .cd-hero-slider {
        position: relative;
        overflow: hidden;
        height: 70vh;
        @include media($desktop-largest){
          height:80vh;
        }

        li {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            @include transition(opacity 1s);

            &.selected {
                visibility: visible;
                position: relative;
                opacity: 1;
                @include transition(opacity 1s);
            }

            &.is-moving,
            &.selected {
                visibility: visible;
                @include transition(opacity 1s);
            }
        }
    }

    .cd-hero-slider {
        li {
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .cd-full-width,
        .cd-half-width {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            left: 0;
            top: 0;
            text-align: left;
            @include backface-visibility(hidden);
            @include transform(translateZ(0));

            .text {
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                padding: 1em;
                background: rgba(255,255,255,.5);
                @include transform(translateX(-50%));
                @include media($desktop-large) {
                    @include transform(translateX(0));
                    background: none;
                }
            }
        }

        .cd-img-container {
            z-index: 1;

            img {
                height: auto;
                width: auto;
                object-fit: cover;
                position: absolute;
                @include center;
            }
        }

        h2,
        h3 {
            margin: 0;
            padding: 0;
            text-align: left;
            text-shadow: 0px 0px .3em rgba(0,0,0,.2);
            @include media($desktop-large) {
                 @include span-columns(12);
                @include shift(0);
            }
            @include media($desktop-largest) {
                 @include span-columns(12);
                @include shift(0);
            }
        }

        h3 {
            font-weight: 400;

            strong {
                font-weight: 600;
            }
        }
        @include media($desktop) {
            h2 {
                font-size: 1.4em;
            }

            h3 {
                font-size: 1.1em;
            }
        }
        @include media($desktop-largest) {
            h2 {
                font-size: 1.8em;
            }

            h3 {
                font-size: 1.4em;
            }
        }
        @include media($desktop-super) {
            h2 {
                font-size: 8em;
                margin-bottom:.1em;
            }

            h3 {
                font-size: 4em;
            }
        }
    }
    .progress-bar{
      position: absolute;
      bottom: 0;
      left: 0;
      height:4px;
      width:0;
      z-index:5;
      background:$dark-gray;
      opacity:.3;
      display: inline-block;
    }
    .cd-hero-slider {

        .cd-half-width {
            opacity: 0;
            @include transform(translateX(-40px));
        }

        .move-left .cd-half-width {
            @include transform(translateX(-40px));
        }

        .selected .cd-half-width {
            /* this is the visible slide */
            opacity: 1;
            @include transform(translateX(0));
        }

        .is-moving .cd-half-width {
            /* this is the slide moving outside the viewport
			wait for the end of the transition on the <li> parent before set opacity to 0 and translate to 40px/-40px */
            @include transition(opacity 0s .5s, transform 0s .5s);
        }

        li.selected.from-left .cd-half-width:nth-of-type(2),
        li.selected.from-right .cd-half-width:first-of-type {
            /* this is the selected slide - different animation if it's entering from left or right */
            @include transition(opacity .4s .2s, transform .5s .2s);
        }

        li.selected.from-left .cd-half-width:first-of-type,
        li.selected.from-right .cd-half-width:nth-of-type(2) {
            /* this is the selected slide - different animation if it's entering from left or right */
            @include transition(opacity .4s .4s, transform .5s .4s);
        }

        .cd-full-width .cd-btn,
        .cd-full-width h2,
        .cd-full-width h3 {
            opacity: 0;
            @include transform(translateX(100px));
        }

        .move-left .cd-full-width .cd-btn,
        .move-left .cd-full-width h2,
        .move-left .cd-full-width h3 {
            opacity: 0;
            @include transform(translateX(100px));
        }

        .selected .cd-full-width .cd-btn,
        .selected .cd-full-width h2,
        .selected .cd-full-width h3 {
            /* this is the visible slide */
            opacity: 1;
            @include transform(translateX(0));
        }

        li.is-moving .cd-full-width .cd-btn,
        li.is-moving .cd-full-width h2,
        li.is-moving .cd-full-width h3 {
            /* this is the slide moving outside the viewport
			wait for the end of the transition on the li parent before set opacity to 0 and translate to 100px/-100px */
            @include transition(opacity 0s 1s, transform 0s 1s);
        }

        li.selected h2 {
            @include transition(opacity .4s .2s, transform .5s .2s);
        }

        li.selected h3 {
            @include transition(opacity .4s .3s, transform .5s .3s);
        }

        li.selected .cd-btn {
            @include transition(opacity .4s .4s, transform .5s .4s, background-color .2s 0s);
        }
    }
}



.mission-statement {
    margin: $spacing 0;
    @include row();
}

.mission-statement h1 {
    text-align: center;
    color: #d31145;
    font-size: 2.2em;
    font-weight: bold;
    line-height: 1.5em;
    @include span-columns(8);
    @include shift(1 of 10);
}

.projects-services {
    margin-bottom: $mobile-spacing;
    @include span-columns(4);
    @include media($tablet) {
        margin-bottom: $tablet-spacing;
    }
}

.projects-block,
.services-block {
    @include span-columns(2);
    @include omega;
    width: 50%;

    a {
        h1 {
            position: absolute;
            text-transform: uppercase;
            text-align: center;
            color: #fff;
            font-weight: bold;
            @include media($desktop) {
                font-size: 4em;
                @include span-columns(12);
            }
            @include media($desktop-large) {
                font-size: 5em;
                @include span-columns(12);
            }
        }

        img {
            width: 100%;
        }
    }
}

.description-statement {
    margin-top: $mobile-spacing;
    margin-bottom: $mobile-spacing;
    @include span-columns(4);

    h2 {
        text-align: center;
        color: $medium-gray;
        line-height: 1.5em;

        a,
        a:visited {
            position: relative;
            color: $dark-gray;
            text-decoration: none;
            padding: 1px 0;
            @include transition(color .5s);
        }

        a:hover {
            color: $brand-color;
            @include transition(color .5s);
        }

        a::after {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 2px;
            background: $dark-gray;
            content: '';
            opacity: 0;
            z-index: 2;
            @include transition(all .5s);
            @include transform(translateY(5px));
        }

        a:focus::after,
        a:hover::after {
            opacity: 1;
            @include transform(translateY(0px));
        }
    }
}
//From the Blog section ------------------------
.home{
  .blogs{
    margin-bottom:0;
  }
}

.testimonials {
  overflow: hidden;
  @include span-columns(4);
}

.testimonials ul {
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0;
}

.testimonials ul li {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
}

.testimonials ul li p {
  color:#fff;
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
  margin-bottom:2em;
}

.testimonials-control {
  display: flex;
  justify-content: center;
}

.testimonials-control i {
  margin-top:1em;
  cursor: pointer;
  padding:0 .5em;
  color:$brand-color;

  @include media($desktop-large) {
      font-size:3em;
      padding:0 .75em;
  }
}

.testimonial {
    padding:4em 1em;
    margin-bottom: $mobile-spacing;
    background:$dark-gray;
    @include span-columns(4);

    &:hover{

    }

    h1 {
        margin-bottom: 1em;
        text-align: center;
        color:#fff;
    }

    h2 {
        text-align: center;
        color:#fff;
        margin-bottom:.2em;
        @include media($desktop-large) {
             @include span-columns(12);
            @include shift(0);
        }

        i{
          display:inline-block;
          color:$brand-color;
          margin-bottom:.5em;
          @include animation(bounce 1s ease-out infinite alternate);
        }
    }

    h3 {
        text-align: center;
        color:$medium-gray;
        font-weight: 400;
        @include media($desktop-large) {
             @include span-columns(12);
            @include shift(0);
        }
    }
    p {
      color:#fff;
      margin-bottom: 20px;
      text-align: center;
      font-style: italic;
      margin-bottom:2em;
    }
}


@include keyframes (bounce) {
  0%{@include transform(translateY(0px));}
  100% {@include transform(translateY(-50%));}
}
