.home-slider {
    position: relative;
    z-index: 2;

    overflow: hidden;

    width: 100%;
    height: 400px;

    text-align: center;

    background: url('../img/logo-slider/slider-background.jpg');
    background-color: #eeedf2;
    background-position: bottom;
    background-size: cover;

    @include media($tablet){
      height:600px;
    }
    @include media($desktop){
      height:700px;
    }
    @include media($desktop-large){
      height:800px;
    }
    @include media($desktop-largest){
      height:900px;
    }
    @include media($desktop-super){
      height:1000px;
    }

    .info {
        position: absolute;
        top: 70%;
        left: 70%;

        width: 250px;
    }

    h2 {
        position: relative;

        margin-bottom: 8px;

        text-align: left;

        font-size: 1.5em;
        font-weight: 600;
    }

    h3 {
        text-align: left;

        font-size: 1.2em;
        font-weight: 400;
    }

    b {
        font-weight: 600;
    }

    img {
        width: auto;
        height: 100%;
    }
}

.mission-statement {
    margin: $spacing 0;

    @include row();
}

.mission-statement h1 {
    text-align: center;

    color: #d31145;

    font-size: 2.2em;
    font-weight: bold;
    line-height: 1.5em;

    @include span-columns(8);
    @include shift(1 of 10);
}

.projects-services {
    margin-bottom: $mobile-spacing;

    @include span-columns(4);
    @include media($tablet) {
        margin-bottom: $tablet-spacing;
    }
}

.projects-block,
.services-block {
    @include span-columns(2);
    @include omega;
    width:50%;

    a {

        h1 {
            position: absolute;
            text-transform: uppercase;
            text-align: center;

            color: #fff;

            font-weight: bold;
            @include media($desktop) {
                font-size: 4em;
                @include span-columns(12);
            }
            @include media($desktop-large) {
                font-size: 5em;
                @include span-columns(12);
            }
        }

        img {
            width: 100%;
        }
    }
}

.description-statement {
    margin-top: $mobile-spacing;
    margin-bottom: $mobile-spacing;
    @include span-columns(4);

    @include media($tablet) {
        margin-bottom: $tablet-spacing;
    }


    h2 {
        text-align: center;

        color: $medium-gray;

        line-height: 1.5em;

        a {
            text-decoration: none;

            color: $dark-gray;
        }
    }
}
//From the Blog section ------------------------

.recent-blog {
    margin-bottom: $mobile-spacing;
    @include span-columns(4);


    h1 {
        margin-bottom: 60px;

        text-align: center;
    }

    .recent-blog-photo {
        position: relative;

        height: 200px;

        text-align: center;

        background: #e6e5e6;

        @include span-columns(4);
        @include omega;
        @include media($tablet) {
            width: 50%;
            min-height: 400px;
        }
        @include media($desktop-largest) {
            width: 40%;
            min-height: 500px;
        }

        img {
            position: absolute;
            bottom: 0;
            @include transform(translate(-50%));

            width: auto;
            max-height: 250px;

            @include media($tablet) {
                max-height: 450px;
            }
            @include media($desktop-largest) {
                max-height: 550px;
            }
        }
    }

    .recent-blog-block {
        min-height: 200px;
        padding: 15px;

        color: #fff;
        background: #4da7e3;

        @include span-columns(4);
        @include omega;
        @include media($tablet) {
            width: 50%;
            height: 400px;
            padding: 30px;
        }
        @include media($desktop-largest) {
            width: 60%;
            height:500px;
        }

        a {
            text-decoration: none;

            color: #fff;
        }

        h1 {
            margin-bottom: 10px;

            text-align: left;

            color: #fff;
            @include media($desktop-large) {
                 @include span-columns(12);
                @include shift(0);
            }
            @include media($desktop-largest) {
                 @include span-columns(12);
                @include shift(0);
            }
        }

        h2 {
            margin-bottom: 3px;

            color: #fff;

            font-weight: 400;
            @include media($desktop-large) {
                 @include span-columns(12);
                @include shift(0);
            }
            @include media($desktop-largest) {
                 @include span-columns(12);
                @include shift(0);
            }
        }

        b {
            font-weight: 600;
        }

        h3 {
            color: #fff;

            font-weight: 400;
            @include media($desktop-large) {
                 @include span-columns(12);
                @include shift(0);
            }
            @include media($desktop-largest) {
                 @include span-columns(12);
                @include shift(0);
            }
        }
    }
}

.testimonial {
    margin-bottom: $mobile-spacing;
    @include span-columns(4);

    h1 {
        margin-bottom: 30px;

        text-align: center;
    }

    h2 {
        text-align: center;
        @include media($desktop-large){
          @include span-columns(12);
          @include shift(0);
        }
    }

    h3 {
        text-align: center;
        @include media($desktop-large){
          @include span-columns(12);
          @include shift(0);
        }
    }

    .quote {
        p {
            margin-bottom: 20px;

            text-align: center;

            font-style: italic;

        }

        p::before {
            position: relative;
            display:inline-block;

            content: open-quote;
            quotes: "“" "”" "‘" "’";
            transform: translate(15%, 60%);

            color: $brand-color;

            font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-size: 3em;
            font-weight: bold;
            font-style: normal;
        }
        p::after {
            position: absolute;
            display:inline-block;

            content: close-quote;
            quotes: "“" "”" "‘" "’";
            transform: translate(0px, 5px);

            color: $brand-color;

            font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-size: 3em;
            font-weight: bold;
            font-style: normal;
        }


    }
}
