.cd-auto-hide-header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: $nav-height;
    background-color: #fff;
    @include clearfix;
    /* Force Hardware Acceleration */
    transform: translateZ(0);
    @include transition(transform .5s);

    &.is-hidden {
        transform: translateY(-100%);
    }
    @include media($tablet) {
        height: $nav-height;
        padding: 0;
    }
    @include media($desktop) {
        padding: 0 75px;
    }
    @include media($desktop-large) {
        padding: 0 100px;
    }
    @include media($desktop-largest) {
        padding: 0 200px;
    }
    @include media($desktop-super) {
        padding: 0 300px;
    }
    @include media($desktop) {
        height: $nav-height;
    }
}

.cd-auto-hide-header .logo {
    position: absolute;
    @include center(y);
    margin-left: 5%;
    @include media($desktop) {
        margin-left: 0;
    }
}

.logo {
    z-index: 0;

    img {
        width: 80px;
    }
}

.cd-auto-hide-header .logo {
    a,
    img {
        display: inline-block;
    }
}

.cd-auto-hide-header .nav-trigger {
    /* vertically align its content */
    span {
        /* vertically align inside parent element */
        display: table-cell;
        vertical-align: middle;
    }

    em,
    em::after,
    em::before {
        /* this is the menu icon */
        display: block;
        position: relative;
        height: 2px;
        width: 22px;
        backface-visibility: hidden;
    }

    em {
        /* this is the menu central line */
        margin: 6px auto 14px;
        transition: background-color 0.2s;
    }

    em::after,
    em::before {
        position: absolute;
        content: '';
        left: 0;
        transition: transform 0.2s;
    }

    em::before {
        /* this is the menu icon top line */
        transform: translateY(-6px);
    }

    em::after {
        /* this is the menu icon bottom line */
        transform: translateY(6px);
    }
    @include media($desktop) {
        display: none;
    }
}

.cd-auto-hide-header.nav-open .nav-trigger {
    em {
        /* transform menu icon into a 'X' icon */
        background-color: rgba(0,0,0, 0);
    }

    em::before {
        /* rotate top line */
        transform: rotate(-45deg);
    }

    em::after {
        /* rotate bottom line */
        transform: rotate(45deg);
    }
}
.nav-trigger {
    position: fixed;
    z-index:1000;
    right: 5%;
    top: 40px;
    height: 54px;
    width: 54px;
    background-color: #000;
    border-radius: 50%;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    @include transition(transform .7s - 0.2s);
    cursor:pointer;

    .cd-nav-icon {
        /* icon created in CSS */
        position: absolute;
        @include center; // mixin inside partials > _mixins.scss
        width: 22px;
        height: 2px;
        background-color: #fff;

        &::before,
        &:after {
            /* upper and lower lines of the menu icon */
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: inherit;
            /* Force Hardware Acceleration in WebKit */
            @include transform(translateZ(0));
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            @include transition(transform .7s - 0.2s, width .7s - 0.2s, top .3s);
        }

        &::before {
            @include transform-origin(right top);
            @include transform(translateY(-6px));
        }

        &::after {
            @include transform-origin(right bottom);
            @include transform(translateY(6px));
        }
    }

    .no-touch &:hover .cd-nav-icon::after {
        top: 2px;
    }

    .no-touch &:hover .cd-nav-icon::before {
        top: -2px;
    }

    svg {
        position: absolute;
        top: 0;
        left: 0;
    }

    circle {
        /* circle border animation */
        @include transition(stroke-dashoffset .7s - 0.3s 0s);
    }

    .nav-open & {
        /* rotate trigger when navigation becomes visible */
        @include transform(rotate(360deg));
        background:#92062b;
        @include transition(background .7s);

        .cd-nav-icon::after,
        .cd-nav-icon::before {
            /* animate arrow --> from hamburger to arrow */
            width: 50%;
            @include transition(transform .7s - 0.2s, width .7s - 0.2s);
        }

        .cd-nav-icon::before {
            @include transform(rotate(45deg));
        }

        .cd-nav-icon::after {
            @include transform(rotate(-45deg));
        }

        .no-touch &:hover .cd-nav-icon::after,
        .no-touch &:hover .cd-nav-icon::before {
            top: 0;
        }

        circle {
            stroke-dashoffset: 0;
            @include transition(stroke-dashoffset .7s - 0.3s 0.3s);
        }
    }
}
.cd-primary-nav {
    display: block;
    float: right;
    height: 100%;
    @include transition(visibility 0s .7s);

    .cd-navigation-wrapper {
        height: 100vh;
        width: 100vw;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        z-index:100;
        /* Force Hardware Acceleration in WebKit */
        @include transform(translateZ(0));
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        @include transform(translateX(100%));
        @include transition(transform .7s - 0.2s);
        @include transition-timing-function(cubic-bezier(.82,.01,.77,.78));

        @include media($desktop) {
            height: $nav-height;
            width: 100%;
            @include transform(translateX(100%));
        }

        > ul {
            z-index:1000;
            left: 0;
            width: 100%;
            margin-right: 0;
            background: $brand-color;
            height: 100vh;
            padding-top:40px;
            position:absolute;

            a {
                /* target primary-nav links */
                display: inline-block;
                height: 10vh;
                line-height: 2em;
                padding-left: 1em;
                font-size: 2em;
                text-decoration: none;
                color: #fff;

                &.active,
                &:hover {
                    color: #101010;
                }
            }
        }
        @include media($desktop) {
            /* vertically align its content */
            display: table;

            > ul {
                /* vertically align inside parent element */
                display: table-cell;
                vertical-align: middle;
                /* reset mobile style */
                position: relative;
                width: auto;
                top: 0;
                padding: 0;
                @include clearfix;
                background-color: transparent;
                box-shadow: none;
                height: $nav-height;
                @include transform(translateX(-100%));
                @include transition(transform .7s - 0.2s);

                li {
                    display: table-cell;
                    vertical-align: middle;
                    float: left;

                    &:last-of-type {
                        margin-right: 0;
                    }
                }

                a {
                    /* reset mobile style */
                    display: block;
                    border: 0;
                    height: 50px;
                    line-height: .75em;
                    padding: 20px 20px 0;
                    text-decoration: none;
                    color: #000;
                    font-size: 1.2em;
                    font-weight: $nav-font-weight;
                    @include media($desktop-largest) {
                        font-size: 1.4em;
                    }
                    @include media($desktop-super) {
                        font-size: 1.5em;
                    }
                }

                a:hover {
                    color: #000;
                }

                a::after {
                    position: relative;
                    bottom: 0;
                    left: 50%;
                    display: inline-block;
                    width: 0;
                    height: 2px;
                    content: "";
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    background: $dark-gray;
                }

                a:hover::after {
                    position: relative;
                    left: 0;
                    width: 100%;
                }
            }

        }

    }
    .nav-open & {
        visibility: visible;
        @include transition(visibility 0s 0s);

        .cd-navigation-wrapper {
            @include transform(translateX(0));
            @include transition(transform .7s - 0.2s);
            @include transition-timing-function(cubic-bezier(.82,.01,.77,.78));
        }
    }
}

.cd-primary-nav ul:target,
.nav-open .cd-primary-nav ul {
    /*
		show primary nav - mobile only
		:target is used to show navigation on no-js devices
	*/
    display: block;
    @include media($desktop) {
        display: table-cell;
    }
}



.no-js main {
	height: auto;
	overflow: visible;
}

.no-js .cd-nav {
	position: static;
	visibility: visible;

	.cd-navigation-wrapper {
		height: auto;
		overflow: visible;
		padding: 100px 5%;
		@include transform(translateX(0));
	}
}
