.project-cover {
    position: relative;
    display: table;
    overflow: hidden;
    width: 100%;
    height: calc(75vh - #{$nav-height});
    margin-bottom: 0;
    background: #eee;
    background-position: center;
    background-size: cover;


    .color-overlay {
        position: absolute;
        width: 100%;
        height: auto;
        opacity: 0.3;
    }

    .text-box {
        position: absolute;
        display: inline-block;
        width: 100%;
        bottom: 0;
        height: auto;
        opacity: 0.6;
        @include media($tablet) {
            padding: 1em 2em;
        }
        @include media($desktop) {
            padding: 1em 2em;
        }
        @include media($desktop-large) {
            padding: 1em 2em;
        }
        @include media($desktop-largest) {
            padding: 2em 4em;
        }
        @include media($desktop-super) {
            padding: 3em 5em;
        }
    }
}


.project-title {
    position: relative;
    width: 100%;
    padding: 1em 2em;
    margin-bottom: $mobile-spacing;
    @include media($tablet) {
        margin-bottom: $tablet-spacing;
    }
    @include media($desktop) {
        margin-bottom: $desktop-spacing;
    }
    @include span-columns(4);

    h1 {
        color: #fff;
        margin-bottom: 0;
        text-align: left;
        margin-bottom: 0.2em;
        @include media($desktop-large) {
             @include span-columns(12);
            @include shift(0);
            float: none;
            width: 100%;
        }
        @include media($desktop-largest) {
             @include span-columns(12);
            @include shift(0);
            float: none;
            width: 100%;
        }
    }

    h2 {
        color: #fff;
        font-weight: 400;
        text-align: left;
        @include media($desktop-large) {
             @include span-columns(12);
            @include shift(0);
            float: none;
            width: 100%;
        }
        @include media($desktop-largest) {
             @include span-columns(12);
            @include shift(0);
            float: none;
            width: 100%;
        }

        strong {
            font-weight: 600;
        }
    }

}

.project-description {
  @include span-columns(4);
    h2 {
        margin-bottom: 1em;
        font-weight: 400;
    }
}

.description-after {
    display: inline-block;
    height: 2px;
    @include span-columns(1);
    margin-bottom: 1.5em;
    @include media($desktop-large) {
         @include span-columns(4);
        @include shift(1);
    }
    @include media($desktop-largest) {
         @include span-columns(3);
        @include shift(2);
    }
}

.project-body {
    @include span-columns(4);

    p {
        margin-bottom: 2em;
    }

    .spacer {
        @include span-columns(4);
        height: $mobile-spacing;
    }

    h2 {
        display: inline-block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .lightbox {
        background: black;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
        opacity: 0;
        @include transform(translateX(100%));

        &.open {
            @include transform(translateX(0));
            opacity: 1;
            @include transition(opacity .3s);
        }
    }

    img {
        &.space {
            margin-bottom: 2em;
        }

        &.half {
            @include span-columns(4);
            @include media($desktop) {
                 @include span-columns(6);
                @include omega;
                width: 50%;
            }
        }
    }

    .images {
      @include span-columns(4);
        margin-top: $mobile-spacing;
        @include media($tablet) {
            margin-top: $tablet-spacing;
        }
        @include media($desktop) {
            margin-top: $desktop-spacing;
        }



        img {
            padding-top: 0.2em 0;
            cursor: pointer;
            object-fit: cover;
            object-position: center;
            @include media($desktop) {
                padding: 0.2em;

                &.first {
                    padding-left: 0;
                }

                &.last {
                    padding-right: 0;
                }
            }

            &.full {
                @include span-columns(4);
                padding-left: 0;
                padding-right: 0;
                @include media($desktop) {
                    height: 400px;
                }
                @include media($desktop-large) {
                    height: 600px;
                }
                @include media($desktop-largest) {
                    height: 800px;
                }
                @include media($desktop-super) {
                    height: 1000px;
                }
            }

            &.half {
                @include span-columns(4);
                @include media($desktop) {
                     @include span-columns(4);
                    @include omega;
                    width: 50%;
                    height: 300px;
                }
                @include media($desktop-large) {
                    height: 500px;
                }
                @include media($desktop-largest) {
                    height: 600px;
                }
                @include media($desktop-super) {
                    height: 800px;
                }
            }

            &.third {
                @include span-columns(4);
                @include media($desktop) {
                     @include span-columns(3);
                    @include omega;
                    width: 33.33%;
                    height: 200px;
                }
                @include media($desktop-large) {
                    height: 400px;
                }
                @include media($desktop-largest) {
                    height: 500px;
                }
                @include media($desktop-super) {
                    height: 700px;
                }
            }

            &.one-third {
                @include span-columns(4);
                @include media($desktop) {
                     @include span-columns(3);
                    @include omega;
                    width: 33.33%;
                    height: 300px;
                }
                @include media($desktop-large) {
                    height: 500px;
                }
                @include media($desktop-largest) {
                    height: 700px;
                }
                @include media($desktop-super) {
                    height: 900px;
                }
            }

            &.two-thirds {
                @include span-columns(4);
                @include media($desktop) {
                     @include span-columns(6);
                    @include omega;
                    width: 66.66%;
                    height: 300px;
                }
                @include media($desktop-large) {
                    height: 500px;
                }
                @include media($desktop-largest) {
                    height: 700px;
                }
                @include media($desktop-super) {
                    height: 900px;
                }
            }

            &.over {
                position: fixed;
                height: auto;
                width: auto;
                z-index: 2001;
                @include transition(all 1s);
            }

            &.no-crop {
                object-fit: fill;
                height: auto;
            }
        }
        .fill-back {
            background: #eee;
            @include span-columns(4);
            padding: 4em 2em;
            position: relative;

            img {
                @include span-columns(4);
                position: relative;
                object-fit: fill;
                cursor: default;

                @include media($desktop-large) {
                     @include span-columns(10);
                    @include shift(1);
                }
                @include media($desktop-largest) {
                     @include span-columns(8);
                    @include shift(2);

                }
            }
        }
    }

    iframe {
        margin: 2em 0;
        @include span-columns(4);
        min-height: 400px;
        @include media($tablet) {
            min-height: 500px;
        }
        @include media($desktop) {
            min-height: 600px;
        }
        @include media($desktop-large) {
            min-height: 700px;
        }
        @include media($desktop-largest) {
            min-height: 800px;
        }
        @include media($desktop-super) {
            min-height: 1000px;
        }
    }
}

.nextprevious {
    position: relative;
    z-index: 5;
    @include span-columns(4);
    @include media($tablet) {
        .previous-project:hover {
            .center-text {

                @include transition(transform .5s $ease-in-cubic);
            }

            .project {
                @include span-columns(8);

                @include transition(transform .5s $ease-in-cubic);

                h2 {
                    font-size: 2em;
                }
            }
        }

        .next-project:hover {
            .center-text {

                @include transition(transform .5s $ease-in-cubic);
            }

            .project {
                @include span-columns(8);

                @include transition(transform .5s $ease-in-cubic);

                h2 {
                    font-size: 2em;
                }
            }
        }
    }
    @include media($desktop) {
        .next-project:hover,
        .previous-project:hover {
            .project {
                h2 {
                    font-size: 3em;
                }
            }
        }
    }
    @include media($desktop-large) {
        .next-project:hover,
        .previous-project:hover {
            .project {
                h2 {
                    font-size: 3.5em;
                }
            }
        }
    }
    @include media($desktop-largest) {
        .next-project:hover,
        .previous-project:hover {
            .project {
                h2 {
                    font-size: 4em;
                }
            }
        }
    }

    .next-project,
    .previous-project {
        position: relative;
        overflow: hidden;
        height: 200px;
        margin-bottom: 50px;
        @include span-columns(2);
        @include omega;
        width:50%;
        object-fit: cover;
        object-position: center;

        @include media($tablet) {
            background: #fbfbfb;
            height: 300px;
            @include span-columns(4);
            @include omega;
            width:calc(50% - .4em);
            margin: .4em .2em;
        }
        @include media($desktop) {
            height: 400px;
        }
        @include media($desktop-large) {
            .center-text {
                h2 {
                    font-size: 3em;
                }
            }
        }
        @include media($desktop-largest) {
            height: 500px;
        }
        @include media($desktop-super) {
            height: 600px;
        }

        .center-text {
            position: absolute;
            display: block;
            /* display: table;   For next/previous solid color */
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            margin:0;

            h2 {
                position: relative;
                display: table-cell;
                width: 100%;
                height: 100%;
                text-align: center;
                vertical-align: middle;
                float: none;
                font-size: 1em;

                @include media($tablet) {
                    font-size: 1.5em;
                }
                @include media($desktop) {
                    font-size: 2em;
                }
                @include media($desktop-largest) {
                    font-size: 3em;
                }
            }
            img {
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .project {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .project {
        @include span-columns(4);

        position: relative;
        height: 300px;
        overflow: hidden;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        display: none;
        margin:0;

        .project-info {
            position: absolute;
            opacity: 0;
            height: 100%;
            width: 100%;
            display: table;
            z-index: 1;

            .text {
                position: relative;
                display: table-cell;
                height: 100%;
                width: 100%;
                text-align: center;
                vertical-align: middle;
                padding: 1em;

                h2 {
                    @include transform(translateY(-2em));
                    margin-bottom: 0.2em;
                    opacity: 0;
                    text-align: center;
                    font-size: 1.8em;

                    @include media($tablet) {
                        font-size: 2em;
                    }
                    @include media($desktop-large) {
                        font-size: 2em;
                    }
                    @include media($desktop-largest) {
                        font-size: 2.5em;
                    }
                }

                h3 {
                    @include transform(translateY(1em));
                    font-weight: 400;
                    opacity: 0;
                    text-align: center;

                    strong {
                        font-weight: 600;
                    }
                    @include media($desktop-largest) {
                        font-size: 1.5em;
                    }
                }
            }
        }
        @include media($tablet) {
            height: 500px;
        }
        @include media($desktop) {
             @include span-columns(6);
            height: 400px;
            width: 50%;
            display: none;
        }
        @include media($desktop-large) {
            height: 500px;
        }
        @include media($desktop-largest) {
            height: 550px;
        }
        @include media($desktop-super) {
            height: 650px;
        }
    }

    .project:hover {
        .project-info {
            opacity: 1;
            @include transition(opacity .5s $ease-out-quint);

            .text {
                h2 {
                    opacity: 1;
                    @include transform(translateY(0));
                    @include transition(all 1s);
                }

                h3 {
                    opacity: 1;
                    @include transform(translateY(0));
                    @include transition(all 1s .4s);
                }
            }
        }
    }

    #container {
        @include span-columns(4);
        overflow: hidden;
    }

    .project-image-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        z-index: 0;

        img {
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.back-work {
    @include span-columns(4);
    position: relative;
    height: 150px;
    display: table;
    margin-top: $mobile-spacing;
    @include media($tablet) {
        margin-top: $tablet-spacing;
    }
    @include media($desktop) {
        margin-top: $desktop-spacing;
    }

    a {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        height: 100%;
        float: none;
        color: #fff;
        background: $dark-gray;
        transition: all 0.5s;
        text-decoration: none;

        h2 {
            color: #fff;
            text-align: center;
        }

        &:hover {
            background: #fbfbfb;

            h2 {
                color: $dark-gray;
            }
        }
    }
}
