.project-cover {
    position: relative;
    display: table;
    overflow: hidden;
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    background: #eee;
    background-position: center;
    background-size: cover;
    @include media($tablet) {
        height: 400px;
    }
    @include media($desktop) {
        height: 500px;
    }
    @include media($desktop-large) {
        height: 600px;
    }
    @include media($desktop-largest) {
        height: 700px;
    }
    @include media($desktop-super) {
        height: 800px;
    }

    .color-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.3;
    }

    .text {
        position: relative;
        display: table-cell;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
    }
    .text-box{
      position:relative;
      display:inline-block;
      padding:1em;
      text-align: center;

      max-width:80%;

      @include media($tablet) {
          padding:2em;
      }
      @include media($desktop) {
          padding:2em;
      }
      @include media($desktop-large) {
          padding:3em;
      }
      @include media($desktop-largest) {
        padding:4em;
      }
      @include media($desktop-super) {
        padding:5em;
      }
    }

    h1 {
        color: #fff;
        margin-bottom: 0;
        text-align: center;
        margin-bottom:.2em;

        @include media($desktop-large) {
             @include span-columns(12);
            @include shift(0);
            float:none;
            width:100%;
        }
        @include media($desktop-largest) {
          @include span-columns(12);
         @include shift(0);
         float:none;
         width:100%;
        }
    }

    h2 {
        color: #fff;
        font-weight: 400;
        text-align: center;


        @include media($desktop-large) {
            @include span-columns(12);
            @include shift(0);
            float:none;
            width:100%;
        }
        @include media($desktop-largest) {
          @include span-columns(12);
         @include shift(0);
         float:none;
         width:100%;
        }

        strong {
            font-weight: 600;
        }
    }
}

.project-description {
    h2 {
        margin-bottom: 1em;
        font-weight: 400;
    }

    h2::after {
        display: block;
        width: 30%;
        padding-top: 1em;
        content: ' ';
        border-bottom: 2px solid #ccc;
    }
}

.project-body {
    @include span-columns(4);
    margin-bottom: $mobile-spacing;
}

.nextprevious {
    position: relative;
    z-index: 5;
    @include span-columns(4);
    @include media($tablet) {
        .previous-project:hover {
            .center-text {
                @include transform(translateX(100%));
                @include transition(transform .5s $ease-in-cubic);
            }

            .project {
                @include span-columns(8);
                @include transform(translateX(0%));
                @include transition(transform .5s $ease-in-cubic);
            }
        }

        .next-project:hover {
            .center-text {
                @include transform(translateX(-100%));
                @include transition(transform .5s $ease-in-cubic);
            }

            .project {
                @include span-columns(8);
                @include transform(translateX(0%));
                @include transition(transform .5s $ease-in-cubic);
            }
        }
    }

    .previous-project {
        position: relative;
        overflow: hidden;
        height: 100px;
        margin-bottom: 50px;
        @include span-columns(2);
        @include media($tablet) {
            background: #fbfbfb;
            height: 300px;
            @include span-columns(4);
            @include omega;
            width:50%;
        }
        @include media($desktop) {
            height: 400px;
        }
        @include media($desktop-large) {
            .center-text {
                h2 {
                    font-size: 3em;
                }
            }
        }
        @include media($desktop-largest) {
            height: 500px;
        }
        @include media($desktop-super) {
            height: 600px;
        }
        @include span-columns(2);

        .center-text {
            position: absolute;
            display: table;
            width: 100%;
            height: 100%;
            @include transition(all .5s $ease-in-cubic);

            h2 {
                position: relative;
                display: table-cell;
                width: 100%;
                height: 100%;
                text-align: center;
                vertical-align: middle;
                float: none;

            }
        }

        .project {
            height: 100%;
            width: 100%;
            @include transform(translateX(-101%));
            @include transition(all .5s $ease-in-cubic);

            .project-info {
                display: table;
                opacity: 1;

                .text {
                    h2 {
                        opacity: 1;
                        font-size:1.5em;
                        @include transform(translateY(0));

                        @include media($desktop){
                          font-size:2.5em;
                        }
                        @include media($desktop-large){
                          font-size:3em;
                        }
                    }
                    h3 {
                        opacity: 1;
                        font-size:1em;
                        @include transform(translateY(0));
                        @include media($desktop){
                          font-size:1.5em;
                        }
                    }
                }
            }
        }
    }

    .next-project {
        position: relative;
        overflow: hidden;
        height: 100px;
        @include span-columns(2);
        @include media($tablet) {
            background: #fbfbfb;
            height: 300px;
            @include span-columns(4);
            @include omega;
            width:50%;
        }
        @include media($desktop) {
            height: 400px;
        }
        @include media($desktop-large) {
            .center-text {
                h2 {
                    font-size: 3em;
                }
            }
        }
        @include media($desktop-largest) {
            height: 500px;
        }
        @include media($desktop-super) {
            height: 600px;
        }

        .center-text {
            position: absolute;
            display: table;
            width: 100%;
            height: 100%;
            @include transition(all .5s $ease-in-cubic);

            h2 {
                position: relative;
                display: table-cell;
                width: 100%;
                height: 100%;
                text-align: center;
                vertical-align: middle;
                float: none;
            }
        }

        .project {
            height: 100%;
            width: 100%;
            @include transform(translateX(101%));
            @include transition(all .5s $ease-in-cubic);

            .project-info {
                display: table;
                opacity: 1;

                .text {
                  h2 {
                      opacity: 1;
                      font-size:1.5em;
                      @include transform(translateY(0));

                      @include media($desktop){
                        font-size:2.5em;
                      }
                      @include media($desktop-large){
                        font-size:3em;
                      }
                  }
                  h3 {
                      opacity: 1;
                      font-size:1em;
                      @include transform(translateY(0));
                      @include media($desktop){
                        font-size:1.5em;
                      }
                  }
                }
            }
        }
    }
}
