.services {
    @include span-columns(4);
    margin-bottom: $mobile-spacing;
    @include media($tablet) {
        margin-bottom: $tablet-spacing;
    }

    p {
        margin-bottom: $mobile-spacing;
    }

    ul {
        li {
          @include transition(border-color .5s);
            @include span-columns(4);
            @include omega;
            @include media($desktop-large) {
                 @include span-columns(10);
                @include shift(1);
            }
            @include media($desktop-largest) {
                 @include span-columns(8);
                @include shift(2);
            }
            border-top: 5px solid $light-gray;

            &:last-child{
              border-bottom: 5px solid $light-gray;
            }
        }
        li:hover,
        li:focus,
        li:hover + li{
          border-color:$dark-gray;
          @include transition(border-color .5s);
        }
        li:hover + li:last-child{
          border-top-color:$dark-gray;
          border-bottom-color:$light-gray;
          @include transition(border-color .5s);
        }
    }

    .service {
        @include span-columns(4);
        position: relative;

        h1 {
            text-align: left;
            margin-bottom: 0;
            padding: 0.3em 0;
            cursor: pointer;
            color: $light-gray;
            @include transition(color .5s);
            @include media($desktop-large) {
                 @include span-columns(12);
                @include shift(0);
            }
            @include media($desktop-largest) {
                 @include span-columns(12);
                @include shift(0);
            }
            span{
              position: absolute;
              height: 100%;
              right:.2em;
              top:60%;
              @include transform(translateY(-50%));
            }

            i {
                position: relative;
                font-size: 0.5em;
                @include transition(transform .5s);
            }
        }

        h1:hover {
            color: $dark-gray;
            @include transition(color .5s);
        }
    }

    .active {
        h1,
        h1:hover {
            color: $brand-color;
        }

        i {
            transform-origin: center center;
            @include transform(rotate(45deg));
            @include transition(transform .5s);
        }
    }

    .service-description {
        @include span-columns(4);
        @include transition(all .5s);
        max-height: 0;
        overflow: hidden;

        h2 {
            margin-bottom: 0.4em;
            @include transition(color .5s);
            @include media($desktop-large) {
                 @include span-columns(12);
                @include shift(0);
            }
            @include media($desktop-largest) {
                 @include span-columns(12);
                @include shift(0);
            }
        }

        p {
            margin-bottom: 2em;
            @include transition(color .5s);
            @include media($desktop-large) {
                 @include span-columns(12);
                @include shift(0);
            }
            @include media($desktop-largest) {
                 @include span-columns(12);
                @include shift(0);
            }
        }

        .service-project-container {
            @include span-columns(4);
            margin-bottom:2em;

            @include media($desktop-large) {
                font-size: 1.3em;
                @include span-columns(12);
                @include shift(0);
            }
            @include media($desktop-largest) {
                 @include span-columns(12);
                @include shift(0);
            }

            .service-project {
                @include span-columns(4);
                position: relative;
                height: 300px;
                overflow: hidden;
                object-fit: cover;
                background-size: cover;
                background-position: center;

                .project-info {
                    position: absolute;
                    opacity: 0;
                    height: 100%;
                    width: 100%;
                    display: table;

                    .text {
                        position: relative;
                        display: table-cell;
                        height: 100%;
                        width: 100%;
                        text-align: center;
                        vertical-align: middle;
                        padding: 1em;

                        h2 {
                            @include transform(translateY(-2em));
                            margin-bottom: 0.2em;
                            opacity: 0;
                            text-align: center;
                            font-size: 1.8em;
                            @include media($tablet) {
                                font-size: 3em;
                            }
                            @include media($desktop-large) {
                                font-size: 3em;
                            }
                        }

                        h3 {
                            @include transform(translateY(1em));
                            font-weight: 400;
                            opacity: 0;
                            text-align: center;

                            strong {
                                font-weight: 600;
                            }
                            @include media($desktop-large) {
                                font-size: 1.5em;
                            }
                        }
                    }
                }
                @include media($tablet) {
                    height: 500px;
                }
                @include media($desktop) {
                    height: 400px;
                }
                @include media($desktop-large) {
                    height: 400px;
                    @include span-columns(6);
                    width: 50%;
                }
                @include media($desktop-largest) {
                    height: 400px;
                }
                @include media($desktop-super) {
                    height: 500px;
                }
            }

            .service-project:hover {
                .project-info {
                    opacity: 1;
                    @include transition(opacity .5s $ease-out-quint);

                    .text {
                        h2 {
                            opacity: 1;
                            @include transform(translateY(0));
                            @include transition(all 1s);
                        }

                        h3 {
                            opacity: 1;
                            @include transform(translateY(0));
                            @include transition(all 1s .4s);
                        }
                    }
                }
            }
        }
    }
}
