.services {
    @include span-columns(4);
    margin-bottom: $mobile-spacing;
    @include media($tablet) {
        margin-bottom: $tablet-spacing;
    }

    p {
        margin-bottom: $mobile-spacing;
    }

    .service {
        @include span-columns(4);
        position: relative;

        h1 {
          text-align: left;
            margin-bottom: 0.5em;
            cursor: pointer;
            @include transition(color .5s);
            @include span-columns(4);
            @include omega;
        }

        h1:hover {
            color: #000;
            @include transition(color .5s);
        }
    }

    .service-description {
        @include span-columns(4);
        margin-top: 1em;
        @include transition(all .5s);
        max-height: 0;
        overflow: hidden;

        h2 {
            margin-bottom: 0.2em;
        }
        p {
            margin-bottom: 2em;
        }
    }
}
