//--------Navigation Variables
$nav-height: 130px;
$mobile-nav-height:90px;
$nav-font-size: 1.5em;
$nav-font-weight: 500;

//--------Spacing between page rows
$mobile-spacing: 3em;
$tablet-spacing: 5em;
$desktop-spacing: 8em;

//--------Colors
$brand-color: #d31145;
$secondary-color: #a3a510;
$dark-gray: #0c0c0c;
$medium-gray: #838383;
$light-gray: #c1c1c1;


//--------Culture Page Variables
$culture-header-height: 820px;


@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}
