.projects {
    @include span-columns(4);
    min-height:100vh;

    h1 {
        font-weight: 400;
        @include media($desktop-large) {
             @include span-columns(12);
            @include shift(0);
        }
        @include media($desktop-largest) {
             @include span-columns(12);
            @include shift(0);
        }

        strong {
            font-weight: 600;
        }
    }
    margin-bottom: $mobile-spacing;
    @include media($tablet) {
        margin-bottom: $tablet-spacing;
    }
    @include media($desktop) {
        margin-bottom: $desktop-spacing;
    }
}

.project-filter {
    @include span-columns(4);
    margin-bottom: 2em;
    font-size: 1em;
    color: $dark-gray;
    @include media($desktop) {
        font-size: 1.3em;
    }
    @include media($desktop-largest) {
        font-size: 1.5em;
    }

    .filter-drop {
        @include span-columns(4);
        cursor: pointer;
        @include media($tablet) {
            display: none;
        }

        .fa {
            position: absolute;
            margin-left: 0.3em;
            margin-top: -.2em;
            font-size: 1.5em;
            color: $dark-gray;
            @include transition(transform .5s);
        }

        .rotate {
            @include transform(rotateX(180deg));
            @include transition(transform .5s);
        }
    }

    ul.filter-list {
        @include span-columns(4);
        margin-top: 0.5em;
        overflow: hidden;
        display: none;
        @include media($tablet) {
            display: inline-block;
        }

        li {
            line-height: 1.6em;
            @include media($tablet) {
                 @include span-columns(4);
                @include omega;
            }
            @include media($desktop) {
                 @include span-columns(4);
                @include omega;
            }
            @include media($desktop-largest) {
                 @include span-columns(3);
                @include omega;
                line-height: 1.8em;
            }

            span {
                font-family: "proxima-nova", sans-serif;
                margin-right: 1.5em;
                color: $dark-gray;
                cursor: pointer;
                @include transition(color .5s ease-in-out);

                &.active {
                    color: $brand-color;
                    text-decoration: underline;
                    display: none;
                    @include media($tablet) {
                        display: inline-block;
                    }
                }

                &:hover {
                    color: $medium-gray;
                }
            }
        }
    }

    span.filter-active {
        margin-left: 0.3em;
        color: $brand-color;
        border-bottom: 2px solid $brand-color;
        cursor: pointer;
    }
}

.project {
    @include span-columns(4);
    position: relative;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    display: none;
    margin: 0.2em 0;

    .project-info {
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 100%;
        display: table;
        z-index: 1;

        .text {
            position: relative;
            display: table-cell;
            height: 100%;
            width: 100%;
            text-align: center;
            vertical-align: middle;
            padding: 1em;

            h2 {
                @include transform(translateY(-2em));
                margin-bottom: 0.2em;
                opacity: 0;
                text-align: center;
                font-size: 1.8em;
                @include media($tablet) {
                    font-size: 2em;
                }
                @include media($desktop-large) {
                    font-size: 2em;
                }
                @include media($desktop-largest) {
                    font-size: 2.5em;
                }
            }

            h3 {
                @include transform(translateY(1em));
                font-weight: 400;
                opacity: 0;
                text-align: center;

                strong {
                    font-weight: 600;
                }
                @include media($desktop-largest) {
                    font-size: 1.5em;
                }
            }
        }
    }
    @include media($tablet) {
        height: 500px;
    }
    @include media($desktop) {
         @include span-columns(6);
        height: 400px;
        width: calc(50% - .4em);
        display: none;
        margin: 0.2em 0.4em;
    }
    @include media($desktop-large) {
         @include span-columns(4);
        height: 300px;
        width: calc((100% / 3) - .4em);
        display: none;
        margin: 0.2em 0.4em;
    }
    @include media($desktop-largest) {
        height: 400px;
    }
    @include media($desktop-super) {
        height: 500px;
    }
}
.project-no-js {
  display:block;
}
.project:hover {
    .project-info {
        width: calc(100%);
        height: calc(100%);
        opacity: 1;
        @include transition(opacity .5s $ease-out-quint);

        .text {
            h2 {
                opacity: 1;
                @include transform(translateY(0));
                @include transition(all 1s);
            }

            h3 {
                opacity: 1;
                @include transform(translateY(0));
                @include transition(all 1s .4s);
            }
        }
    }
}

#container {
    @include span-columns(4);
    overflow: hidden;

    h1 {
      margin-top:1em;
      font-weight: bold;
        @include span-columns(4);
        @include media($tablet) {
          @include span-columns(4);
        }
        @include media($desktop) {
            @include span-columns(12);
        }
        @include media($desktop-large) {
          @include span-columns(12);
          @include shift(0);
        }
        @include media($desktop-largest) {
          @include span-columns(12);
          @include shift(0);
        }
        @include media($desktop-super) {
          @include span-columns(12);
          @include shift(0);
        }
    }
}

.project-image-wrapper {
    @include span-columns(4);
    position: relative;
    overflow: hidden;
    z-index: 0;
    height: 300px;

    @include media($tablet) {
        height: 500px;
    }
    @include media($desktop) {
        height: 400px;
    }
    @include media($desktop-large) {
        height: 300px;
    }
    @include media($desktop-largest) {
        height: 400px;
    }
    @include media($desktop-super) {
        height: 500px;
    }

    img {
      position: relative;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        object-position: center;
        background: $light-gray;
        left:0;

        height: 300px;

        @include media($tablet) {
            height: 500px;
        }
        @include media($desktop) {
            height: 400px;
        }
        @include media($desktop-large) {
            height: 300px;
        }
        @include media($desktop-largest) {
            height: 400px;
        }
        @include media($desktop-super) {
            height: 500px;
        }
    }
}


@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    /* IE10+ specific styles go here */
    .project {
        @include span-columns(4);
        position: relative;
        height: 300px;
        overflow: hidden;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        display: none;
        padding: 0.2em;

        .project-info {
            position: absolute;
            opacity: 0;
            height: 100%;
            width: 100%;
            display: table;
            z-index: 1;

            .text {
                position: relative;
                display: table-cell;
                height: 100%;
                width: 100%;
                text-align: center;
                vertical-align: middle;
                padding: 1em;

                h2 {
                    @include transform(translateY(-2em));
                    margin-bottom: 0.2em;
                    opacity: 0;
                    text-align: center;
                    font-size: 1.8em;
                    @include media($tablet) {
                        font-size: 3em;
                    }
                    @include media($desktop-large) {
                        font-size: 3em;
                    }
                }

                h3 {
                    @include transform(translateY(1em));
                    font-weight: 400;
                    opacity: 0;
                    text-align: center;

                    strong {
                        font-weight: 600;
                    }
                    @include media($desktop-large) {
                        font-size: 1.5em;
                    }
                }
            }
        }
        @include media($tablet) {
            height: 500px;
        }
        @include media($desktop) {
             @include span-columns(6);
            height: 400px;
            width: 50%;
            display: none;
        }
        @include media($desktop-large) {
             @include span-columns(4);
            height: 300px;
            width: calc((99% / 3)-1px);
            display: none;
        }
        @include media($desktop-largest) {
            height: 400px;
        }
        @include media($desktop-super) {
            height: 500px;
        }
    }

}
