.projects{
  @include span-columns(4);
  h1{
    font-weight: 400;
    margin-bottom:1em;

    strong{
      font-weight: 600;
    }
  }
  margin-bottom: $mobile-spacing;

  @include media($tablet) {
      margin-bottom: $tablet-spacing;
  }
}
.project{
  @include span-columns(4);
  position: relative;
  height:300px;
  overflow:hidden;
  object-fit:cover;
  background-size:cover;
  background-position: center;

  .project-info{
    position: absolute;
    display:none;
    height:100%;
    width:100%;

    .text{
      position: relative;
      display:table-cell;
      height:100%;
      width:100%;

      text-align: center;
      vertical-align: middle;

      h2{

      }
      h3{
        font-weight:400;

        strong{
          font-weight:600;
        }
      }
    }
  }
  @include media($tablet){
    height:500px;
  }
  @include media($desktop){
    @include span-columns(6);
    height:400px;
  }
  @include media($desktop-large){
    height:500px;
  }
  @include media($desktop-largest){
    height:550px;
  }
  @include media($desktop-super){
    height:650px;
  }

}
.project:hover{
  .project-info{
    display:table;
  }
}
