@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 4;
$max-width: 2000px;

// Define your breakpoints
$desktop-super: new-breakpoint(min-width 2400px 12);
$desktop-largest: new-breakpoint(min-width 1800px 12);
$desktop-large: new-breakpoint(min-width 1200px 12);
$desktop: new-breakpoint(min-width 900px 12);
$tablet: new-breakpoint(min-width 600px 8);
$large-phone: new-breakpoint(min-width 400px 8);
