---
layout: default
title: Work
permalink:
---
<div class="wrapper">

    <div class="projects">
      <div class="reveal-box" data-aos="text-reveal" data-aos-delay="1600" data-aos-duration="1200" data-aos-easing="ease-in-out-quad">
        <h1 data-aos="fade-rotate" data-aos-delay="2000" ata-aos-duration="100"><strong>Projects</strong> and <strong>Case Studies</strong></h1>
      </div>
        {% for post in site.categories.work %}
        {% assign loopindex = forloop.index | modulo: 2 %}
        {% if loopindex == 1 %}
        <a href="{{ post.url }}">
            <div class="project" data-aos="fade-up" style="background-image:url('/img/projects/{{ post.cover-image }}')">
                <div class="project-info" style="background: -webkit-linear-gradient(to bottom right, #{{ post.back-color1 }}, #{{ post.back-color2 }});
            background: -o-linear-gradient(to bottom right, #{{ post.back-color1 }}, #{{ post.back-color2 }});
            background: -moz-linear-gradient(to bottom right, #{{ post.back-color1 }}, #{{ post.back-color2 }});
            background: linear-gradient(to bottom right, #{{ post.back-color1 }}, #{{ post.back-color2 }});">
                    <div class="text">
                        <h2 style="color:#{{ post.cover-text-color }}">{{ post.title }}</h2>
                        <h3 style="color:#{{ post.cover-text-color }}">for <strong>{{ post.client }}</strong></h3>
                    </div>
                </div>

          </div>
        </a>
        {% else %}
        <a href="{{ post.url }}">
            <div class="project" data-aos="fade-up" data-aos-delay="400" style="background-image:url('/img/projects/{{ post.cover-image }}')">
                <div class="project-info" style="background: -webkit-linear-gradient(to bottom right, #{{ post.back-color1 }}, #{{ post.back-color2 }});
            background: -o-linear-gradient(to bottom right, #{{ post.back-color1 }}, #{{ post.back-color2 }});
            background: -moz-linear-gradient(to bottom right, #{{ post.back-color1 }}, #{{ post.back-color2 }});
            background: linear-gradient(to bottom right, #{{ post.back-color1 }}, #{{ post.back-color2 }});">
                    <div class="text">
                        <h2 style="color:#{{ post.cover-text-color }}">{{ post.title }}</h2>
                        <h3 style="color:#{{ post.cover-text-color }}">for <strong>{{ post.client }}</strong></h3>
                    </div>
                </div>

          </div>
        </a>
        {% endif %}
        {% endfor %}

  </div>
</div>
