<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- Custom CSS -->

    <link rel="stylesheet" href="/css/main.css">
    <link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">

    <script src="https://use.typekit.net/xps0dil.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>

    <script src="/js/jquery-3.1.1.min.js"></script>

</head>

<body>

    <div class="container">


        {% include header.html %}
        <div class="js-main">

            {{ content }}

        </div>

        {% include social.html %}

    </div>
    {% include footer.html %}

</body>

</html>
