<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">

    <script src="https://use.typekit.net/xps0dil.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>


</head>

<body>

    {% include header.html %}
    <div id="content">

        {{ content }}

    </div>

    <div class="social">
      <ul>
        <li>
          <a href="https://www.facebook.com/insightcreativeinc" target="_blank"><span class="socicon socicon-facebook"></span></a>
        </li>
        <li>
          <a href="https://twitter.com/insightwi" target="_blank"><span class="socicon socicon-twitter"></span></a>
        </li>
        <li>
          <a href="https://www.instagram.com/insightwi/" target="_blank"><span class="socicon socicon-instagram"></span></a>
        </li>
        <li>
          <a href="https://www.pinterest.com/insightinc/" target="_blank"><span class="socicon socicon-pinterest"></span></a>
        </li>
        <li>
          <a href="https://www.youtube.com/user/InsightCreativeWI/" target="_blank"><span class="socicon socicon-youtube"></span></a>
        </li>
      </ul>
    </div>
    <!-- content end -->

    {% include footer.html %}

</body>

</html>
