<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/main.css">

    <script src="https://use.typekit.net/xps0dil.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>

    <script src="js/jquery-3.1.1.min.js"></script>

    <!-- pushState ajax script-->
    <script src="js/push.js"></script>
</head>

<body>

    {% include header.html %}
    <div id="content">

        {{ content }}


    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/history.js/1.8/bundled/html4+html5/jquery.history.js"></script>
    <script src="js/ajax.js"></script>
  -->


</body>

</html>
