---
layout: default
title: {{ page.title }}
---

<div class="wrapper">
    <div class="project-cover" style="background-image:url('/img/projects/{{ page.cover-image }}');">

        <div class="text">
          <div class="text-box" data-aos="fade-up" style="background: -webkit-linear-gradient(to bottom right, #{{ page.back-color1 }}, #{{ page.back-color2 }});
      background: -o-linear-gradient(to bottom right, #{{ page.back-color1 }}, #{{ page.back-color2 }});
      background: -moz-linear-gradient(to bottom right, #{{ page.back-color1 }}, #{{ page.back-color2 }});
      background: linear-gradient(to bottom right, #{{ page.back-color1 }}, #{{ page.back-color2 }});">
            <h1 data-aos="fade-up" data-aos-delay="400" style="color:#{{ page.cover-text-color }}">{{ page.title }}</h1>
            <h2 data-aos="fade-up" data-aos-delay="800" style="color:#{{ page.cover-text-color }}">for <strong>{{ page.client }}</strong></h2>
          </div>
        </div>

    </div>
    <div class="project-description">
        <h2>{{ page.description }}</h2>
    </div>
    <div class="description-after" style="background: -webkit-linear-gradient(to bottom right, #{{ page.back-color1 }}, #{{ page.back-color2 }});
background: -o-linear-gradient(to bottom right, #{{ page.back-color1 }}, #{{ page.back-color2 }});
background: -moz-linear-gradient(to bottom right, #{{ page.back-color1 }}, #{{ page.back-color2 }});
background: linear-gradient(to bottom right, #{{ page.back-color1 }}, #{{ page.back-color2 }});">

    </div>
    <div class="project-body">
        {{ content }}
    </div>


    <div class="nextprevious">
      <div class="previous-project">
        {% if page.previous.url %}
        {% if page.previous.categories contains 'work' %}
        <a href="{{page.previous.url}}">
          <div class="center-text">
            <h2 style="color:#{{ page.previous.back-color1 }};">Previous Project</h2>
          </div>
          <div class="project" style="background: -webkit-linear-gradient(to bottom right, #{{ page.previous.back-color1 }}, #{{ page.previous.back-color2 }});
      background: -o-linear-gradient(to bottom right, #{{ page.previous.back-color1 }}, #{{ page.previous.back-color2 }});
      background: -moz-linear-gradient(to bottom right, #{{ page.previous.back-color1 }}, #{{ page.previous.back-color2 }});
      background: linear-gradient(to bottom right, #{{ page.previous.back-color1 }}, #{{ page.previous.back-color2 }});">
              <div class="project-info">
                  <div class="text">
                      <h2 style="color:#{{ page.previous.cover-text-color }};">{{ page.previous.title }}</h2>
                      <h3 style="color:#{{ page.previous.cover-text-color }};">for <strong>{{ page.previous.client }}</strong></h3>
                  </div>
              </div>

        </div>
        </a>
        {% endif %}
        {% endif %}
      </div>
      <div class="next-project">
        {% if page.next.url  %}
        {% if page.next.categories contains 'work' %}
        <a href="{{page.next.url}}">
        <div class="center-text">
          <h2 style="color:#{{ page.next.back-color1 }};">Next Project</h2>
        </div>


            <div class="project" style="background: -webkit-linear-gradient(to bottom right, #{{ page.next.back-color1 }}, #{{ page.next.back-color2 }});
        background: -o-linear-gradient(to bottom right, #{{ page.next.back-color1 }}, #{{ page.next.back-color2 }});
        background: -moz-linear-gradient(to bottom right, #{{ page.next.back-color1 }}, #{{ page.next.back-color2 }});
        background: linear-gradient(to bottom right, #{{ page.next.back-color1 }}, #{{ page.next.back-color2 }});">

                <div class="project-info">
                    <div class="text">
                        <h2 style="color:#{{ page.next.cover-text-color }}">{{ page.next.title }}</h2>
                        <h3 style="color:#{{ page.next.cover-text-color }}">for <strong>{{ page.next.client }}</strong></h3>
                    </div>
                </div>

          </div>
          </a>
          {% endif %}
        {% endif %}
      </div>
    </div>
</div>
<!-- wrapper end -->
