---
layout: default
title: {{ page.title }}
---

<div class="wrapper">
    <div class="project-cover" style="background-image:url('/img/projects/{{ page.cover-image }}')">
        <div class="text">
            <h1>{{ page.title }}</h1>
            <h2>for <strong>{{ page.client }}</strong></h2>
        </div>
    </div>
    <div class="project-description">
        <h2>{{ page.description }}</h2>
    </div>
    <div class="project-body">
        {{ content }}
    </div>

    <div class="nextprevious">
      <div class="previous-project">
        {% if page.previous.url %}
        {% if page.previous.categories contains 'work' %}
        <a href="{{page.previous.url}}">
          <div class="center-text">
            <h2 style="color:#{{ page.previous.back-color1 }};">Previous Project</h2>
          </div>
          <div class="project" style="background-image:url('/img/projects/{{ page.previous.cover-image }}')">
              <div class="project-info">
                  <div class="text">
                      <h2 style="color:#{{ page.previous.cover-text-color }}">{{ page.previous.title }}</h2>
                      <h3 style="color:#{{ page.previous.cover-text-color }}">for <strong>{{ page.previous.client }}</strong></h3>
                  </div>
              </div>

        </div>
        </a>
        {% endif %}
        {% endif %}
      </div>
      <div class="next-project">
        {% if page.next.url  %}
        {% if page.next.categories contains 'work' %}
        <a href="{{page.next.url}}">
        <div class="center-text">
          <h2 style="color:#{{ page.next.back-color1 }};">Next Project</h2>
        </div>


            <div class="project" style="background-image:url('/img/projects/{{ page.next.cover-image }}')">

                <div class="project-info">
                    <div class="text">
                        <h2 style="color:#{{ page.next.cover-text-color }}">{{ page.next.title }}</h2>
                        <h3 style="color:#{{ page.next.cover-text-color }}">for <strong>{{ page.next.client }}</strong></h3>
                    </div>
                </div>

          </div>
          </a>
          {% endif %}
        {% endif %}
      </div>
    </div>

    <div class="contact-us">
        <a class="contact-link" href="#" data-letters="Contact Us">Contact Us</a>
    </div>

    <div class="footer">
        <h3>We’re a little bit of crazy with a whole lot of talent.</h3>
        <p>
            © Insight Creative, Inc. All rights reserved.
        </p>
    </div>
</div>
<!-- wrapper end -->
