---
layout: default
title: {{ page.title }}
---

<div class="wrapper">
  <div class="project-cover" style="background-image:url('/img/projects/{{ page.cover-image }}.jpg');">





  </div>
  <div class="project-title" style="background: -webkit-linear-gradient(to bottom right, #{{ page.back-color1 }}, #{{ page.back-color2 }});
background: -o-linear-gradient(to bottom right, #{{ page.back-color1 }}, #{{ page.back-color2 }});
background: -moz-linear-gradient(to bottom right, #{{ page.back-color1 }}, #{{ page.back-color2 }});
background: linear-gradient(to bottom right, #{{ page.back-color1 }}, #{{ page.back-color2 }});">
    <h1 data-aos="fade-up" data-aos-delay="400" style="color:#{{ page.cover-text-color }}">{{ page.title }}</h1>
    <h2 data-aos="fade-up" data-aos-delay="800" style="color:#{{ page.cover-text-color }}">for <strong>{{ page.client }}</strong></h2>
  </div>

  <div class="project-description">
    <h2>{{ page.description }}</h2>
  </div>
  <div class="description-after" style="background: -webkit-linear-gradient(to bottom right, #{{ page.back-color1 }}, #{{ page.back-color2 }});
background: -o-linear-gradient(to bottom right, #{{ page.back-color1 }}, #{{ page.back-color2 }});
background: -moz-linear-gradient(to bottom right, #{{ page.back-color1 }}, #{{ page.back-color2 }});
background: linear-gradient(to bottom right, #{{ page.back-color1 }}, #{{ page.back-color2 }});">

  </div>
  <div class="project-body">
    {{ content }}
  </div>

  <div class="back-work">
    <a href="/work" class="page-link" title="work"><h2>Back to Work</h2></a>
  </div>
  <div class="nextprevious">
    <div class="previous-project">
      {% if page.previous.url %} {% if page.previous.categories contains 'work' %}
      <a href="{{page.previous.url}}">
        <div class="center-text" style="background: -webkit-linear-gradient(to bottom right, #{{ page.previous.back-color1 }}, #{{ page.previous.back-color2 }});
      background: -o-linear-gradient(to bottom right, #{{ page.previous.back-color1 }}, #{{ page.previous.back-color2 }});
      background: -moz-linear-gradient(to bottom right, #{{ page.previous.back-color1 }}, #{{ page.previous.back-color2 }});
      background: linear-gradient(to bottom right, #{{ page.previous.back-color1 }}, #{{ page.previous.back-color2 }});">
          <h2 style="color:#{{ page.previous.cover-text-color }}">Previous Project</h2>
        </div>
        <div class="project" style="background: -webkit-linear-gradient(to bottom right, #{{ page.previous.back-color1 }}, #{{ page.previous.back-color2 }});
      background: -o-linear-gradient(to bottom right, #{{ page.previous.back-color1 }}, #{{ page.previous.back-color2 }});
      background: -moz-linear-gradient(to bottom right, #{{ page.previous.back-color1 }}, #{{ page.previous.back-color2 }});
      background: linear-gradient(to bottom right, #{{ page.previous.back-color1 }}, #{{ page.previous.back-color2 }});">
          <div class="project-info">
            <div class="text">
              <h2 style="color:#{{ page.previous.cover-text-color }};">{{ page.previous.title }}</h2>
              <h3 style="color:#{{ page.previous.cover-text-color }};">for <strong>{{ page.previous.client }}</strong></h3>
            </div>
          </div>

        </div>
      </a>
      {% endif %} {% endif %}
    </div>

    <div class="next-project" style="background: -webkit-linear-gradient(to bottom right, #{{ page.next.back-color1 }}, #{{ page.next.back-color2 }});
    background: -o-linear-gradient(to bottom right, #{{ page.next.back-color1 }}, #{{ page.next.back-color2 }});
    background: -moz-linear-gradient(to bottom right, #{{ page.next.back-color1 }}, #{{ page.next.back-color2 }});
    background: linear-gradient(to bottom right, #{{ page.next.back-color1 }}, #{{ page.next.back-color2 }});">
      {% if page.next.url %} {% if page.next.categories contains 'work' %}
      <a href="{{page.next.url}}">
        <div class="center-text">
          <h2 style="color:#{{ page.next.cover-text-color }}">Next Project</h2>
        </div>


        <div class="project" style="background: -webkit-linear-gradient(to bottom right, #{{ page.next.back-color1 }}, #{{ page.next.back-color2 }});
        background: -o-linear-gradient(to bottom right, #{{ page.next.back-color1 }}, #{{ page.next.back-color2 }});
        background: -moz-linear-gradient(to bottom right, #{{ page.next.back-color1 }}, #{{ page.next.back-color2 }});
        background: linear-gradient(to bottom right, #{{ page.next.back-color1 }}, #{{ page.next.back-color2 }});">

          <div class="project-info">
            <div class="text">
              <h2 style="color:#{{ page.next.cover-text-color }}">{{ page.next.title }}</h2>
              <h3 style="color:#{{ page.next.cover-text-color }}">for <strong>{{ page.next.client }}</strong></h3>
            </div>
          </div>

        </div>
      </a>
      {% endif %} {% endif %}
    </div>


    <!-- Code for related projects at bottom of individual project

    {% for tag in page.tags limit:1 %}
      {% for post in site.categories.work %}
        {% if post.tags contains tag %}
        <a href="{{ post.url }}">
            <div class="mix project" style="display:block;">
                <div class="project-info" style="background: -webkit-linear-gradient(to bottom right, #{{ post.back-color1 }}, #{{ post.back-color2 }});
        background: -o-linear-gradient(to bottom right, #{{ post.back-color1 }}, #{{ post.back-color2 }});
        background: -moz-linear-gradient(to bottom right, #{{ post.back-color1 }}, #{{ post.back-color2 }});
        background: linear-gradient(to bottom right, #{{ post.back-color1 }}, #{{ post.back-color2 }});">
                    <div class="text">
                        <h2 style="color:#{{ post.cover-text-color }}">{{ post.title }}</h2>
                        <h3 style="color:#{{ post.cover-text-color }}">for <strong>{{ post.client }}</strong></h3>
                    </div>
                </div>
                <div class="project-image-wrapper no-ie">
                  <img src="/img/projects/{{ post.cover-image }}.jpg" alt="{{ post.title }}"
                  srcset="/img/projects/{{ post.cover-image }}-400.jpg 400w,
                  /img/projects/{{ post.cover-image }}-600.jpg 600w,
                  /img/projects/{{ post.cover-image }}-900.jpg 900w,
                  /img/projects/{{ post.cover-image }}-900.jpg 1200w,
                  /img/projects/{{ post.cover-image }}-900.jpg 1800w,
                  /img/projects/{{ post.cover-image }}-900.jpg 2400w" />
                </div>
            </div>
        </a>
        {% endif %}
      {% endfor %}
    {% endfor %}

    -->
  </div>
</div>
<!-- wrapper end -->
