---
layout: default
title: {{ page.title }}
---

<div class="wrapper">
    <div class="service">
        <h1>{{ page.title }}</h1>
        <h2><strong>{{ page.keywords }}</strong></h2>
        <div class="service-body">
            {{ content }}
        </div>

        <div class="contact-us">
            <a class="contact-link" href="#" data-letters="Contact Us">Contact Us</a>
        </div>

        <div class="footer">
            <h3>We’re a little bit of crazy with a whole lot of talent.</h3>
            <p>
                © Insight Creative, Inc. All rights reserved.
            </p>
        </div>
    </div>
</div>
<!-- wrapper end -->
